#sparkle {
  .footer-section {
    .footer__column__item {
      a {
        letter-spacing: @letter-spacing-default;
        line-height: 17px;
        font-size: @font-size-medium;
      }
    }

    .footer {
      .copy-right {
        letter-spacing: @letter-spacing-default;
        font-size: @font-size-medium;
        line-height: 20px;
      }
    }
  }
}
