#sparkle {
  .vx-order-summary-details {
    .order-summary-heading {
      font-size: @font-size-h2;
      font-family: @font-family-TradeGothicLT;
    }
    .cart-total-value, .cart-calculation, .sub-total-value {
      font-family: @font-family-TradeGothicLT-Bold;
    }
    .sub-total-helper-text {
      letter-spacing: @letter-spacing-slashed;
      line-height: 18px;
    }
  }
}