#sparkle {
  .vx-profile-card {
    .link-large {
      font-size: @font-size-base;
      letter-spacing: @letter-spacing-default;
      line-height: 20px;
    }
    .card-item {
      letter-spacing: @letter-spacing-default;
      line-height: 20px;
    }
    .card-item-bold {
      font-family: @font-family-TradeGothicLT-Bold;
      padding: 16px;
    }
  }
}