#sparkle {
  .stepper-control {
    .input-group {
      input[type=text], input[type=number] {
        font-family: @font-family-TradeGothicLT-Bold;
        border-radius: 0;
      }
      .btn {
        &.input-group-btn {
          &:last-child, &:first-child {
            border-radius: 0;
          }
        }
      }
    }
  }
}