#gp-employee {
  .expiry-forgot-password {
    padding: 0px !important;
    border: none;
    .email-heading {
      background-color: @modal-top-bar-background-color;
      border-radius: @card-layout-border-radius @card-layout-border-radius 0 0;
      color: @modal-heading-color;
      padding: 24px 16px;
      margin-bottom: 0px !important;
    }
    .expiry-forgot-password-form {
      display: inline-block;
      padding: 30px;
      background-color: @card-layout-bg-color;
      border-radius: @card-layout-border-radius;
    }
    .success-msg {
      padding: 30px;
      background-color: @card-layout-bg-color;
      border-radius: @card-layout-border-radius;
    }
  }
}
@media only screen and (max-width: @screen-xs-max) {
  #gp-employee {
    .email-description {
      margin-bottom: 8px !important;
    }
    .social-description {
      margin-top: 8px !important;
    }
  }
}
