#gp-employee {
  .update-password {
    width: 100%;
    border: none;
    padding: 0px !important;
    .has-feedback {
      padding: 0px 30px;
    }
    .update-password-title {
      background-color: @modal-top-bar-background-color;
      border-radius: @card-layout-border-radius @card-layout-border-radius 0 0;
      color: @modal-heading-color;
      padding: 24px 16px;
      margin-bottom: 0px !important;
    }
    .update-password-form {
      padding: 30px 0px;
      background-color: @card-layout-bg-color;
      border-radius: @card-layout-border-radius;
    }
    .modal-btn-primary-medium {
      width: auto;
    }
  }

  .update-password-page {
    .update-password {
      max-width: 360px;
      margin-top: 10px;
      .has-feedback {
        margin-bottom: 0px !important;
      }
      .passwordHelp {
        margin-bottom: 16px !important;
        font-size: @font-size-small;
      }
      .update-password-form {
        padding: 40px 0;
      }
      button {
        font-weight: @font-weight-bold;
      }
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  #gp-employee {
    .update-password-page {
      .update-password {
        max-width: 345px;
        .update-password-title {
          font-size: @font-size-h3;
          font-weight: @font-weight-bold;
        }
        .passwordHelp {
          margin-bottom: 40px !important;
        }
        .update-password-form {
          padding: 16px 0 40px 0;
        }
        button {
          width: 170px;
        }
      }
    }
  }
}
