#sparkle {
  .btn-tertiary {
    font-family: @font-family-TradeGothicLT-Bold;
    border-radius: 0;
  }

  .btn-primary {
    font-family: @font-family-TradeGothicLT-Bold;
    border-radius: 0;

    &:active,
    &:focus {
      background-color: @btn-primary-bg;
      color: @btn-primary-color;
    }
  }
}
