.form-group {
  label {
    letter-spacing: @letter-spacing-default;
    line-height: 17px;
  }
  input[type='text'],
  input[type='telephone'],
  input[type='email'],
  input[type='password'],
  input[type='number'] {
    color: @text-color;
    border-radius: 0;
  }
}
.dropdown-primary {
  .dropdown {
    button {
      border-radius: 0;
      letter-spacing: @letter-spacing-default;
      line-height: 17px;
    }
    ul {
      li.selected {
        a {
          font-family: @font-family-TradeGothicLT-Bold;
        }
      }
    }
  }
}