#sparkle {
  .register-page,
  .login-page {
    margin-top: 45px;

    + p {
      font-size: @font-size-small;
      color: @text-color-secondary-4;
    }
  }

  .main__inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  @media only screen and (min-width: @screen-sm-min) {
    .login-page,
    .register-page,
    .employee-login-page {
      margin: 32px 16px 0;
      border: 1px solid @border-color;
    }
  }

  @media only screen and (max-width: @screen-xs-max) {
    .login-page,
    .register-page {
      margin-top: 0;
    }

    .form-group [type='radio']:checked + label,
    .form-group [type='radio']:not(:checked) + label {
      font-size: @font-size-small !important;
    }
  }
}
