/**
/**  Variables
/**  --------------------------------------------------
/** == Colors
/** ## brand colors for use across site. **/

@brand-primary: #022169; // changed as per header color
@brand-secondary: #022169; // to be changed as per primary button hover color
@brand-tertiary: #e42610; // cahged as per error color

@brand-secondary-2: #022169; // changed as per Apply promo button
@brand-secondary-3: #5eb6e3; // promo text section in tiles is not there
@brand-secondary-6: #a0a0a0; // changed from mini cart tax text
@brand-secondary-7: #81bc02; // not used
@brand-secondary-8: #f4f4f4; // cant find state - store locator
@brand-secondary-10: #c6c6c6;
@brand-secondary-11: #f9f9f9; // not used
@brand-secondary-12: #ffffff; // to change body background

/** Flyout Colors **/
@flyout-success-border-color: rgba(129, 188, 2, 0.63);
@flyout-alert-border-color: #0074e4;
@flyout-error-border-color: #e42610;
@alert-border-color: #0074e4;

/**  Background color for `<body>`. **/
@body-bg: #ffffff;
@modal-bg: rgba(68, 61, 61, 0.5);

/** *******Typography Colors********* **/
@text-color: #222222; // two text colours used, other one is #201f1f
@text-color-secondary: #747678;
@text-color-secondary-3: #022169;
@text-color-secondary-4: #747678;
@text-color-error: #ee2941; // #fd0202 at one place
@link-color: @brand-primary;
@product-tile-link-color: #022169;

/** == Borders **/
@border-color: #747678;
@border-color-5: #0274e5;
@border-color-9: #cecece;

/** Typography
Imported MyFontsWebfontsKit.css in Stylesheeets.tag **/
@font-family-TradeGothicLT: 'TradeGothicLT';
@font-family-TradeGothicLT-Bold: 'TradeGothicLT-Bold';

@font-family-base: @font-family-TradeGothicLT; /** use this variable for the fonts **/
@font-family-heading: @font-family-TradeGothicLT-Bold;

/** Deafult Button State /** White **/
@btn-default-color: #022169;
@btn-default-border: #022169;
@btn-default-text-transform: capitalize;
@btn-border-radius: 4px;

@btn-default-hover-color: #022169;
@btn-default-hover-border: #ffffff;
@btn-default-hover-bg: #ffffff;

/** Primary Button State **/
@btn-primary-color: #ffffff;
@btn-primary-bg: #022169;
@btn-primary-border: #022169;

/** not given **/
@btn-primary-hover-color: #ffffff;
@btn-primary-hover-border: #022169;

/** not given **/
@btn-primary-hover-bg: #022169;

/** Disabled section not given **/
@btn-primary-disabled-bg: #022169;

/** Tertiary Button State **/
@btn-tertiary-color: #022169;
@btn-tertiary-bg: #ffffff;
@btn-tertiary-border: #022169;
@btn-tertiary-hover-color: #022169;
@btn-tertiary-hover-border: solid 1px #022169;
@btn-tertiary-hover-bg: #ffffff;

/** Error Button State for custom dropdowns **/
@btn-error-border: #c6c6c6;
@btn-error-bg: #ffffff;

/** Disabled Section **/
@btn-tertiary-disabled-bg: #c6c6c6;

/** checkbox properties **/
@checkbox-not-checked-border: #cecece;
@checkbox-not-checked-background: transparent; // transparent
@checkbox-checked-background: #022169;

/** input properties **/
@font-color-input-text: #000000;
@bg-color-error: #ffffff;
@border-color-input: #c6c6c6;
@border-color-error: #c6c6c6;
@border-radius-input: 4px;

/**  stepper control properties **/
@bg-color-stepper: transparent;

/** badge properties **/
@border-radius-badge: 50%;
@badge-height: 20px;
@badge-width: 20px;

/** radio button properties **/
@border-color-radio-checked: #022169;
@bg-color-radio: transparent;

/** font-icon-sizes **/
@font-icon-size-2: 25px;
@font-icon-color-1: #c6c6c6; // to check
@font-icon-color-2: #747678;

/** Promotext Background **/
@promo-background-color: #00aeef;
@promo-text-size: 10px;

/** Coming soon banner Background **/
@coming-soon-background-color: #a0a0a0;

/** header properties **/
@background-nav-top: #f4f4f4;
@background-nav-bottom: #022169;
@font-color-nav: #022169;
@font-color-nav-top: #022169;
@font-color-nav-bottom: #ffffff;
@font-color-nav-mobile: #222222; // expanded hamburger not in design
@font-color-nav-link: #0274e5;
@font-size-nav-icon-mobile: 20px;
@font-size-nav-icon-desktop: 24px;
@secondary-nav-box-shadow: 0 5px 8px -4px rgba(20, 8, 8, 0.5);
@secondary-nav-border-radius: 4px;

/** Mini Cart Border **/
@mini-cart-border-color: #ffffff;

/** Auto suggest **/
@autosuggest-border-color: #ececec;
@autosuggest-bg-color: #fafafa;

/** footer colors **/
@footer-background: #f4f4f4;
@footer-sub-links: #022169;
@footer-background-mobile: #dfdfdf;
@footer-heading-color: #747678;

/** Bazaar Voice Variables **/
@bv-star-color-filled: #ffcb01;

/** Tab Component **/
@tab-selected-border-color: #022169;

/** Profile Card Component **/
@card-disabled-background-color: #f4f4f4;
@add-card-border-color: #022169;
@add-card-background-color: rgba(2, 33, 105, 0.05);
@card-hyperlink-color: #022169;

/** Favorite Heart Icon **/
@fav-icon-fill-color: #022169;

/** Checkbox Disabled State **/
@checkbox-disabled-color: #c6c6c6;

/** Breadcrumbs **/
@breadcrumb-nav-link-color: #222222;
@breadcrumb-seperator-color: #d1d1d1;
@breadcrumb-background-color: @body-bg;

/** Modal Sizes Large, Medium, Small, Extra-Small **/
@modal-top-bar-font-size: 24px;

/* Authorable components styles */
/* vx-image-title */
@font-size-header: 28px;
@font-size-tile-cta: 12px;
@font-size-tile-header: 14px;
@font-size-product-carousel-header: 28px;

/* vx-hero-banner */
@font-size-hero-left-heading: 32px;
@font-size-sm-hero-left-heading: 24px;
@font-size-xs-hero-left-heading: 21px;
@font-size-hero-left-sub-heading: 21px;
@font-size-sm-hero-left-sub-heading: 16px;
@font-size-xs-hero-left-sub-heading: 14px;
@font-size-xs-hero-left-cta: 14px;
