#innovia {
  .login-page {
    margin-bottom: 24px;

    .registration-and-login-sign-in {
      a {
        color: @text-color-secondary-5;
        font-size: @font-size-small;
        text-decoration: underline;
        font-weight: @font-weight-normal;
      }

      .no-account-text {
        color: @text-color-secondary-6;
        font-size: @font-size-small;
      }
    }

    .vx-minimized-header {
      display: none;
    }

    .social-login-component {
      .social-text {
        text-transform: @btn-default-text-transform;
      }
    }
  }

}
