## messageSource=classpath:/gpb2binitialdata/import/coredata/contentCatalogs/dixieContentCatalog/messages/email-orderApprovalRejectionSubject_$lang.properties
${ctx.messages.getMessage('emailSubject', ${ctx.order.code})}