#brawny {
  .vx-add-edit-address {
    .form-group {
      label {
        color: @text-color-sub-text;
      }
      .dropdown-primary button,
      input[type] {
        border: 1px solid @border-color-secondary;
      }
    }
    .info-text {
      font-size: @font-size-base;
      font-weight: @font-weight-bold;
    }
  }
}
