#brawny {
  .vx-address-verification {
    .current-address-heading,
    .verified-address-heading {
      font-size: @font-size-base;
    }
    .current-address-body,
    .verified-address-body {
      .address-body,
      .address-content {
        font-size: @font-size-large;
        line-height: 28px;
        letter-spacing: 0.4px;
      }
    }
  }
}
