#brawny {
  .vx-add-payment-form {
    font-family: @font-family-text;
    .dropdown-primary button,
    input[type] {
      border: 1px solid @border-color-secondary;
    }
    input[type='button'] {
      border: none;
      text-transform: uppercase !important;
      font-weight: @font-weight-med;
    }
    .label-text,
    .form-check-label {
      color: @brand-secondary-5;
    }
    .cvv-query {
      a {
        text-decoration: underline;
        color: @text-color;
        font-weight: @font-weight-bold;
        &:hover,
        &:focus {
          color: @text-color;
          text-decoration: underline;
          font-weight: @font-weight-bold;
        }
      }
    }
    h3 {
      font-size: @font-size-base;
    }
  }
}
