#brawny {
  .footer-section {
    .footer {
      .footer__column {
        h5 {
          color: @footer-heading-color;
          line-height: 16px;
          letter-spacing: @letter-spacing-default;
        }
      }
    }
  }
}
