#brawny {
  .vx-payment-methods {
    @media screen and (min-width: @screen-sm-min) {
      padding: 0 16px;
    }
    @media screen and (min-width: @screen-md-min) {
      padding: 0;
      margin-right: 24px;
    }
    .top-heading {
      margin: 0;
      padding: 24px 16px 20px !important;
      line-height: @line-height;
      @media screen and (min-width: @screen-sm-min) {
        padding: 32px 16px 20px !important;
      }
      @media screen and (min-width: @screen-md-min) {
        padding: 48px 16px 0 16px !important;
      }
      font-weight: @font-weight-normal;
    }
  }
}
