#brawny {
  .vx-ymarket-form {
    font-family: @font-family-text;
    .authorable-text {
      h2 {
        font-size: @font-size-h3;
      }
    }
    .sapCpTextWidget {
      p {
        font-size: @font-size-small;
      }
    }
    button.sapCpButton {
      font-weight: @font-weight-med;
    }
  }
}
