.settings/
classes/
target/
*/*.springBeans.new
*/eclipsebin/*
*.springBeans
*.class
*.log
.pmd
.metadata
Generated*.java
rebel.xml
platformhome.properties
.classpath
.externalToolBuilder/
**/addonsrc/
**/gensrc/
**/dist/
**jalo**
**/views/addons/**
*.bak
**/_ui-src/addons/**
**/messages/addons/**
**/_ui/addons/**
**/tags/addons/**
**/tld/addons/**

# Frontend directories and files

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
syntax: glob

/gpb2bstorefront/web/commonwebsrc/acceleratorstorefrontcommons/**
/gpcommercestorefront/web/commonwebsrc/acceleratorstorefrontcommons/**
/gpcommercestorefront/web/webroot/cockpit/**
/gpb2bstorefront/web/webroot/cockpit/**
extensioninfo.xsd
build.xml
beans.xsd
items.xsd
*-testclasses.xml
*-webtestclasses.xml
*.iml
/gpbackoffice/resources/backoffice/gpbackoffice_bof.jar
/otmmaddonui/web/webroot/**
/gpb2bstorefront/resources/wro_addons.xml
/gpb2bstorefront/web/addontestsrc/eventtrackingwsaddon/de/hybris/eventtracking/ws/services/DefaultRawEventEnricherTest.java
/gpb2bstorefront/web/webroot/WEB-INF/lib/addon-captchaaddon-json-taglib-0.4.1.jar
/gpcommercestorefront/web/addontestsrc/eventtrackingwsaddon/de/hybris/eventtracking/ws/services/DefaultRawEventEnricherTest.java
/gpcommercestorefront/web/webroot/WEB-INF/lib/addon-captchaaddon-json-taglib-0.4.1.jar
/gpcommercewebservices/web/webroot/WEB-INF/cache/addons/gpstocknotifyoccaddon/ehcache.xml
gpcommercewebservices/web/webroot/cockpit/**
gpintegration/web/webroot/cockpit/**
gpsaporderexchange/web/webroot/cockpit/**
gpsaporderexchangeb2b/web/webroot/cockpit/**
