.vx-delete-address {
  ul {
    list-style-type: none;
  }
  .card-item {
    font-size: @font-size-medium;
    font-weight: @font-weight-light;
    color: @text-color;
  }

  .address-heading {
    font-size: @font-size-large;
    font-weight: @font-weight-medium;
    letter-spacing: 0.4px;
  }
}
