.vx-payment-methods {
  .top-heading {
    color: @brand-secondary-13;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
  }
  .payments-cards-container {
    flex-wrap: wrap;
    & > div {
      &:nth-child(odd) {
        > .vx-profile-card {
          padding-right: 16px;
        }
      }
      &:nth-child(even) {
        > .vx-profile-card {
          padding-left: 16px;
        }
      }
    }
    .profile-card {
      .card-details-container {
        .card-item {
          line-height: 1.9;
        }
      }
    }
  }
  .add-card-wrapper {
    .vx-profile-card {
      height: 100%;
      min-height: 240px;
      .add-card {
        height: 100%;
      }
    }
  }
  .panel-heading {
    color: @text-color;
    font-size: 16px;
    font-weight: @font-weight-medium;
    border-top: 1px solid @border-color-input;
    width: 98%;
  }
  .add-card-container {
    color: @text-color-secondary-3;
  }

  .delete-heading {
    font-size: @font-size-large;
    font-weight: @font-weight-medium;
    letter-spacing: 0.4px;
  }
}
@media screen and (min-width: @screen-sm-max) {
  .vx-payment-methods {
    margin-right: 24px;
  }
}
@media screen and (max-width: @screen-sm-max) {
  .vx-payment-methods {
    .payment-container {
      .add-card-wrapper {
        .vx-profile-card {
          min-height: 200px;
          height: 100%;
          .add-card {
            height: 100%;
            .add-card-container {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              position: initial;
              transform: initial;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: @screen-xs-max) {
  .vx-payment-methods {
    .payments-cards-container {
      & > div:nth-child(odd),
      & > div:nth-child(even) {
        > .vx-profile-card {
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
    .payment-container {
      .add-card-wrapper {
        .vx-profile-card {
          min-height: 172px;
          height: 100%;
        }
      }
    }
  }
}
