#innovia {
  .vx-order-history {
    margin: 0;
    margin-bottom: 32px;

    @media screen and (min-width: @screen-md-min) {
      margin: 0 40px;
      margin-bottom: 0;
    }

    .icon-filter {
      color: @help-text-color;
      font-size: 20px;
    }

    .order-history-heading {

      h1 {
        font-family: @font-family-montserrat;
      }
    }

    .no-of-orders {
      span {
        font-family: @font-family-montserrat;
      }
    }

    .empty-table {
      p {
        font-size: @font-size-small;
      }
    }

    table {
      tbody {
        tr {
          td {
            a {
              font-size: @font-size-medium;
              color: @brand-primary;
            }

            p {
              font-size: @font-size-medium;
            }
          }
        }
      }
    }

    .paginate_button {
      font-family: @font-family-karla;
      color: @text-color-secondary-3;

      &.current {
        color: @text-color;
      }
    }
  }
}
