#innovia {
  .vx-order-details {
    .order-number {
      font-family: @font-family-montserrat;
      font-weight: @font-weight-regular;
    }

    .order-info-heading {
      font-family: @font-family-montserrat;
    }

    .order-info {
      font-size: @font-size-medium;
      font-weight: @font-weight-regular;
    }

    .sub-title {
      font-family: @font-family-montserrat;
    }

    .vx-product-tile {
      .product-code {
        font-family: @font-family-karla;
        font-weight: @font-weight-regular;
      }

      .product-quantity {
        font-family: @font-family-montserrat;
        font-weight: @font-weight-regular;
      }
    }

  }
}
