.vx-add-to-cart {
  text-align: center;
  display: none;
  img {
    width: 227px;
  }
  h4 {
    margin-top: 24px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .vx-add-to-cart {
    display: none;
  }
}
