<div class="vx-business-unit-landing pt-xs-4 pt-sm-5">
  <div class="heading-section d-flex justify-content-between pb-xs-3">
    <h3 class="heading my-xs-0">{{i18n.heading}}</h3>
    <a href="javascript:void(0)" @click="handleAddBusinessUnit($event)">{{i18n.addBusinessUnit}}</a>
  </div>

  <p class="sub-heading mb-xs-0">{{i18n.subHeading}}</p>

  <div class="parent-unit-section mt-xs-3 mt-sm-4 p-xs-3 p-sm-4" v-if="dataAvailable">
    <div class="title-section d-flex justify-content-between pb-xs-4">
      <h4 class="title my-xs-0">{{i18n.parentSectionHeading}}</h4>
      <a :href="`${globals.getNavBaseUrl()}${globals.navigations.businessUnitsLanding}/?${UnitDetails.UNIT_ID}=${encodeURIComponent(landingPageData.id)}`">
        {{i18n.viewDetails}}
      </a>
    </div>
    <div class="detail-section d-flex">
      <div class="parent-details pb-xs-3" v-html="parentUnitDetails"></div>
      <div class="parent-address pb-xs-4" v-html="parentUnitAddress"></div>
      <div class="user-section d-flex">
        <div class="d-flex justify-content-between flex-column">
          <p class="mb-sm-2">{{landingPageData.noOfAdministrators}}</p>
          <span>{{i18n.administrators}}</span>
        </div>
        <div class="d-flex justify-content-between flex-column">
          <p class="mb-sm-2">{{landingPageData.noOfCustomers}}</p>
          <span>{{i18n.buyersText}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="child-units-section pt-xs-4">
    <h3 class="my-xs-0 pb-xs-2 pb-sm-3">{{i18n.childSectionHeading}}</h3>
    <table class="display responsive no-wrap table" width="100%" ref="childUnitsTable">
    </table>
  </div>

  <vx-modal ref="addBusinessUnitModal" size="small" :heading="i18n.addUnitModalHeading" @close="resetValues">
    <div class="row" slot="component">
      <form @submit.prevent="sendAddBusinessUnitRequest" class="col-xs-12" novalidate="true">
        <div class="mb-xs-4 form-group col-xs-12 col-md-6 px-xs-0 px-md-3">
          <label for="companyName" :aria-hidden="isDeviceAndroid()">{{i18n.unitName}}</label>
          <input type="text" class="form-control" name="companyName" v-model="businessUnitDetails.companyName"
            v-validate="'required|max:35'" maxlength="35" :aria-label="i18n.unitName">
          <div class="mt-xs-2" v-if="errors.has('companyName')">
            <span class="error-icon icon-alert-triangle" :title="i18n.iconAlertTitle"></span>
            <span class="error-msg">{{ errors.first('companyName') }}</span>
          </div>
        </div>
        <div class="mb-xs-3 mb-sm-5 form-group col-xs-12 col-md-6 px-xs-0 px-md-3">
          <label for="parentUnitDropdown" class="dropdown-label">{{i18n.parentUnit}}</label>
          <vx-dropdown-primary @selected-option="businessUnitDetails.parentUnit=$event" v-validate="'required'"
            :dropdownValues="parentUnitsList" ref="parentUnitDropdown" name="parentUnit" :dropdownError="errors.has('parentUnit')"
            v-model="businessUnitDetails.parentUnit.value"></vx-dropdown-primary>
          <div class="mt-xs-2" v-if="errors.has('parentUnit')">
            <span class="error-icon icon-alert-triangle" :title="i18n.iconAlertTitle"></span>
            <span class="error-msg" aria-live="assertive">{{ errors.first('parentUnit') }}</span>
          </div>
        </div>
        <div class="col-xs-12 text-center px-xs-0">
          <button class="btn btn-primary save-btn modal-btn-primary-small modal-btn-xs-sticky" type="submit">{{i18n.save}}</button>
        </div>
      </form>
    </div>
  </vx-modal>
</div>
