#sparkle {
  .vx-left-nav {
    .left-nav-sub-container {
      ul {
        li {
          &.cd-label {
            &.selected {
              a {
                font-family: @font-family-TradeGothicLT-Bold;
              }
            }
            a {
              letter-spacing: @letter-spacing-default;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}