

.vx-refine-approval-list {
  .status {
    font-size: @font-size-base;
    font-weight: @font-weight-medium;
  }
  .status-error {
    color: @font-color-error;
    font-size: @font-size-error;
  }
}
