#gp-xpress {
  .vx-pdp-product-info {
    .pdp-product-cta span {
      font-size: @font-icon-size-1;
      color: @font-icon-color-1;
    }

    .max-quantity-info {
      vertical-align: middle;
      color: @font-color-label-text;
    }

    .order-sample-btn {
      width: 208px;

      @media screen and (max-width: @screen-xs-max) {
        width: 90vw;
      }
    }

    @media screen and (min-width: @screen-sm-max) {
      padding-right: 24px;
    }

    .pdp-add-to-cart-container {
      z-index: 8;
    }
  }
}
