#gp-xpress {
  .vx-refills-modal {
    .search-browse-product-tile .tile-body .form-group {
      position: relative;
      padding: 0px;
    }
    .search-browse-product-tile {
      padding-bottom: 0px;
    }
    .refill-buttons {
      z-index: auto;
    }
    .vx-slider {
      height: auto;
      z-index: auto;
    }
  }
}
