#brawny {
  .table {
    font-family: @font-family-text;
    thead {
      tr {
        th {
          font-weight: @font-weight-bold;
        }
      }
    }
    tbody {
      tr {
        td a,
        td {
          color: @link-color;
        }
        td a {
          font-weight: @font-weight-bold;
          text-decoration: underline;
        }
      }
    }
  }
}
