.vx-edit-personal-details {
  a {
    font-size: 12px;
  }
  .market-communication {
    margin-bottom: 20px;
  }
  .display-password {
    float: right;
    cursor: pointer;
  }
  .b2b-sub-heading {
    font-size: @font-size-medium;
    font-weight: @font-weight-medium;
  }
  .error-msg,
  .error-icon {
    color: @font-color-error;
  }
  .email-info-msg {
    color: @brand-secondary-5;
    font-size: @font-size-small;
  }
  .icon-eye {
    font-size: @font-size-large+8;
  }
  .toggle-password {
    cursor: pointer;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 12px;
  }
  .gp-express {
    font-size: @font-size-small;
  }
  .phone-number {
    height: 48px;
    border-radius: 0px;
    color: #222222;
  }
  label,
  input {
    &.attribute-name {
      font-weight: @font-weight-light;
    }
  }
  .month-checkbox {
    width: 48%;
    display: inline-block;
    float: none;
  }
  .date-checkbox {
    width: 48%;
    display: inline-block;
    float: right;
  }
  .clearDiv {
    clear: both;
  }
  @media only screen and (max-width: 767px) {
    .form-control,
    .submit {
      width: 100%;
    }
    .register-heading {
      font-size: @font-size-h4;
    }
  }
}
