.mg-our-napkins {
    background: #814C9E;
    .product-image {
        
    }
    .product-description {
        text-align: right;
        .title {
            height: 33px;
            color: #FFFFFF;
            font-size: 30px;
            font-weight: bold;
            line-height: 36px;
        }
        .sub-title {
            height: 172.14px;
            color: #51C5EE;
            font-size: 88.84px;
            font-weight: 500;
            line-height: 85px;
            text-align: right;
        }
        .description {
            height: 192px;
            color: #FFFFFF;
            font-size: 28px;
            font-weight: bold;
            line-height: 33px;
            text-align: left;
        }
    }
}