
.vx-gift-options {
  .section-header {
    font-size: @font-size-h4;
    font-weight: @font-weight-medium;
    display: inline-block;
  }
  .gifting-change {
    font-size: @font-size-h5;
    color: @text-color-secondary-3;
    font-weight: @font-weight-medium;
  }
  .shipping-heading,
  .gift-message-heading {
    font-size: @font-size-medium;
    font-weight: @font-weight-medium;
  }
  .shipping-addres,
  .gift .form-group label,
  .gift-message {
    font-size: @font-size-small;
    font-weight: @font-weight-light;
    word-wrap: break-word;
  }
  .info-text {
    font-size: @font-size-small;
    font-weight: @font-weight-light;
    color: @font-color-label-text;
  }

  .gifting-message {
    font-size: @font-size-medium;
    font-weight: @font-weight-light;
    color: @font-color-label-text;
  }
  .gift textarea {
    width: 100%;
    resize: none;
    border: 1px solid @border-color;
    height: 72px;
  }
  .gift-price {
    font-weight: @font-weight-medium;
  }
  @media only screen and (max-width: @screen-xs-max) {
    .save-gift {
      width: 100%;
    }
    .gifting-change {
      font-size: @font-size-small;
    }
  }
}
