#brawny {
  .vx-slider {
    h3 {
      font-size: @font-size-h4;
      font-weight: @font-weight-normal;
      @media screen and (min-width: @screen-sm-min) {
        font-size: @font-size-h3;
      }
    }
    .search-browse-product-tile {
      .tile-body {
        width: 100% !important;
        .tile-image {
          width: 100% !important;
          height: 152px !important;
          @media screen and (min-width: @screen-md-min) {
            height: 184px !important;
          }
        }
      }
    }
    .swiper-slide {
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-right: 24px !important;
      }
    }
  }
}
