.product-details-tab-specs {
  &__heading {
    color: @text-color;
    font-size: @font-size-medium;
    font-weight: @font-weight-medium;
    text-transform: capitalize;
  }
  &__key {
    color: @text-color;
    font-size: @font-size-small;
    font-weight: @font-weight-medium;
    line-height: 1.5;
    text-transform: capitalize;
  }
  &__value {
    color: @text-color;
    font-size: @font-size-small;
    font-weight: @font-weight-regular;
    word-wrap: break-word;
  }
}
