.vx-dispenser-replacement {
   .dispenser-form-container{
       padding: 40px 24px;
   }
   .dispenser-form-heading{
    font-size: @font-size-h3
   }
   .col-xs-12{
       .col-xs-6{
           &:first-child{
               padding-left: 0px;
           }
       }
   }
   .phone-number{
       height: 48px;
       box-shadow: none;
       border-radius: 0;
   }
   .submit{
       width: 208px;
   }
   .disclaimer{
    font-size: @font-size-base;
    font-weight: @font-weight-regular;
    color: @font-color-label-text;
   }
}