#gp-employee {
  .search-browse-list-page {
    .tile-group {
      .search-browse-product-tile {
        background-color: @card-layout-bg-color;
        border-radius: @card-layout-border-radius;
        width: calc(25% - 12px);
        margin-bottom: 24px;
        margin-right: 16px;
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  #gp-employee {
    .search-browse-list-page {
      .tile-group {
        .search-browse-product-tile {
          width: calc(25% - 9px);
          margin-bottom: 20px;
          margin-right: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  #gp-employee {
    .search-browse-list-page {
      .tile-group {
        .search-browse-product-tile {
          width: calc(50% - 8px);
          margin-right: 16px;
          &:nth-child(2n) {
            margin-right: 0;
          }
          padding-top: 16px;
        }
      }
    }
  }
}
