.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icomoon';
  src: url('@{assets-path}fonts/innovia/icomoon.eot?frkgix');
  src: url('@{assets-path}fonts/innovia/icomoon.eot?frkgix#iefix')
      format('embedded-opentype'),
    url('@{assets-path}fonts/innovia/icomoon.ttf?frkgix') format('truetype'),
    url('@{assets-path}fonts/innovia/icomoon.woff?frkgix') format('woff'),
    url('@{assets-path}fonts/innovia/icomoon.svg?frkgix#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: '\e900';
}
.icon-certification:before {
  content: '\e901';
}
.icon-online:before {
  content: '\e902';
}
.icon-save-cart:before {
  content: '\e903';
}
.icon-seasonal:before {
  content: '\e904';
}
.icon-shipping:before {
  content: '\e905';
}
.icon-subscription:before {
  content: '\e906';
}
.icon-chevron-right:before {
  content: '\e907';
}
.icon-facebook:before {
  content: '\e908';
}
.icon-google:before {
  content: '\e909';
}
.icon-filter:before {
  content: '\e90a';
}
.icon-alert-triangle:before {
  content: '\e90b';
}
.icon-disc:before {
  content: '\e90c';
}
.icon-file:before {
  content: '\e90d';
}
.icon-info:before {
  content: '\e90e';
}
.icon-loader:before {
  content: '\e90f';
}
.icon-menu:before {
  content: '\e910';
}
.icon-alert-circle:before {
  content: '\e911';
}
.icon-chevron-left:before {
  content: '\e912';
}
.icon-eye:before {
  content: '\e913';
}
.icon-attachment:before {
  content: '\e914';
}
.icon-bookmark:before {
  content: '\e915';
}
.icon-check:before {
  content: '\e916';
}
.icon-chevron-down:before {
  content: '\e917';
}
.icon-download:before {
  content: '\e918';
}
.icon-message-square:before {
  content: '\e919';
}
.icon-chevron-up:before {
  content: '\e91a';
}
.icon-circle:before {
  content: '\e91b';
}
.icon-edit:before {
  content: '\e91c';
}
.icon-heart:before {
  content: '\e91d';
}
.icon-minimize:before {
  content: '\e91e';
}
.icon-minus:before {
  content: '\e91f';
}
.icon-more-horizontal:before {
  content: '\e920';
}
.icon-more-vertical:before {
  content: '\e921';
}
.icon-phone:before {
  content: '\e922';
}
.icon-plus:before {
  content: '\e923';
}
.icon-printer:before {
  content: '\e924';
}
.icon-user:before {
  content: '\e925';
}
.icon-mail:before {
  content: '\e926';
}
.icon-maximize:before {
  content: '\e927';
}
.icon-play:before {
  content: '\e928';
}
.icon-square:before {
  content: '\e929';
}
.icon-trash:before {
  content: '\e92a';
}
.icon-settings:before {
  content: '\e92b';
}
.icon-share:before {
  content: '\e92c';
}
.icon-zoom-in:before {
  content: '\e92d';
}
.icon-zoom-out:before {
  content: '\e92e';
}
.icon-save:before {
  content: '\e92f';
}
.icon-search:before {
  content: '\e930';
}
.icon-star:before {
  content: '\e931';
}
.icon-x:before {
  content: '\e932';
}
.icon-x-circle:before {
  content: '\e933';
}
.icon-quick-order:before {
  content: '\e935';
}
.icon-star-half-filled:before {
  content: '\e936';
}
.icon-star-filled:before {
  content: '\e937';
}
.icon-download-info:before {
  content: '\e938';
}
.icon-cross:before {
  content: '\e939';
}
.icon-add-custom-attributes:before {
  content: '\e93a';
}
.icon-mail-us:before {
  content: '\e93b';
}
.icon-bundle:before {
  content: '\e93c';
}
.icon-customisation:before {
  content: '\e93d';
}
.icon-installation:before {
  content: '\e93e';
}
.icon-seasonal-new:before {
  content: '\e93f';
}
.icon-subscription-new:before {
  content: '\e940';
}
.icon-download-info-new:before {
  content: '\e941';
}
.icon-cart:before {
  content: '\e934';
}
