/**
/**  Variables
/**  --------------------------------------------------

/** == Colors
/**
/** ## brand colors for use across site. **/

@brand-primary: #1c6b76; // changed as per header color
@brand-secondary: #f5ae23; // to be changed as per primary button hover color
@brand-tertiary: #ee2941; // cahged as per error color

@brand-swap-secondary: #f7bd2b;
/** light yellow **/

@brand-secondary-2: #1c6b76; // changed as per Apply promo button
@brand-secondary-3: #5eb6e3; // promo text section in tiles is not there
@brand-secondary-4: #ffffff;
@brand-secondary-5: #4D4E50;
@brand-secondary-6: #a0a0a0; // changed from mini cart tax text
@brand-secondary-7: #81bc02; // not used
@brand-secondary-8: #fafafa; // cant find state
@brand-secondary-9: #000000;
@brand-secondary-10: #c6c6c6;
@brand-secondary-11: #f9f9f9; // not used
@brand-secondary-12: #f1f2f4; // to change body background
@brand-secondary-13: #393939;
@brand-secondary-14: #222222;
/** Flyout Colors **/
@flyout-default-bg-color: #f4f4f4;
@flyout-success-bg-color: #eef5e7;
@flyout-success-border-color: #a8d156;
@flyout-alert-border-color: #f7bd2b;
@flyout-error-border-color: #f8cbc6;
@flyout-success-text-color: #417505;
@success-text-color: #417505;
@error-border-color: #ee2941;
@alert-border-color: #f7bd2b;
@flyout-error-text-color: #e42610;
/** Flyout Colors End here **/

/**  Background color for `<body>`. **/
@body-bg: #ffffff;
@modal-bg: rgba(68, 61, 61, 0.5);
/** *******Typography Colors********* **/
@text-color: #222222; // two text colours used, other one is #201f1f
@text-color-secondary: #a0a0a0;
@text-color-secondary-2: #ffffff;
@text-color-secondary-3: #3F3F49;
@text-color-secondary-4: #201f1f;
@text-color-secondary-5: #3F3F49;
@text-color-secondary-6: #4D4E50;
@checkout-border-color: #DFDFDF;
@text-color-error: #ee2941; // #fd0202 at one place
@link-color: @brand-primary;
@link-hover-color: @brand-primary;
@link-text-color: #3F3F49;
@link-color-create-account : #3F3F49;
@link-color-hover-create-account : #3F3F49;
@headline-color: @link-hover-color;
@help-text-background-color: #eff6fa;
@help-text-color: #747678;
@product-tile-savings-color: #417505;
@product-tile-link-color: #3F3F49;
@success-text-background-color: #eef5e7;
@success-icon-color: #b7d975;
@input-disabled-color: #eee;
@error-page-font-color: #222222;

@text-color-secondary-2: #ffffff;

// #322B2A text color in header
// #3E3838 for product tile horizontal
// #272525 in subscription tile
// #625656 in payment cards and for name in address cards
// #167bb4, (#006198, #0074e4) for links
// #75A742 for savings in order summary
// #3C3938 text color footer
// #353333-empty cart page/labels and #151414-homepage heading
// #969292 help text

/** == Borders **/
@border-color: #cecece;
@border-color-2: #e5e5e5;
@border-color-3: #cccccc;
@border-color-4: #dfdfdf;
@border-color-5: #0274e5;
@border-color-6: #dddddd;
@border-color-7: #979797;
@border-color-8: #a8d156;
@border-color-9 : #cecece;
@filter-section-border-color: #dfdfdf;
@file-dropbox-border-color: #aaaaaa;

/** == Typography **/

// Three font families: Poppins, Avenir, Gotham
// and varied font-weights for different families -- 300, 500, 600, 900-- Avenir
@font-family-karla: Karla;
@font-family-karla-bold: Karla Bold;

/**  dont use this on other files **/
/**  Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`. **/
@font-family-montserrat: Montserrat;
@font-family-montserratSemiBold: Montserrat SemiBold;
@font-family-base: @font-family-karla;
@font-breadcrum-base : @font-family-karla;
/** use this variable for the fonts **/

@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-medium: @font-weight-bold;
@font-weight-bold: 700;
@font-weight-normal: 500;

@font-size-base: 14px;

@font-size-large: 16px;
@font-size-medium: 14px;
@font-size-small: 12px;

@font-size-xs-h1: 21px; // 30px and 32px used

@font-size-h1: 32px; // 36px at a couple of places
@font-size-h2: 24px;
@font-size-h3: 21px;
@font-size-h4: 16px;
@font-size-h5: 14px;
@font-size-h6: 12px;

@font-family-heading: @font-family-montserrat;

/**  Unit-less `line-height` for use in components like buttons. **/
@line-height-base: 1.428571429;
/**  20/14 **/
/**  Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.  **/
@line-height-computed: floor((@font-size-base * @line-height-base));
/**  ~20px **/
@line-height-medium : 20px;
/** spacer **/
@s: 8px;

@line-height-menu-items : 28px;
@assets-path: '/static/assets/';

/** == Media queries breakpoints **/
/** ## Define the breakpoints at which your layout will change, adapting to different screen sizes. **/

/**  Extra small screen / phone **/
/**  Deprecated `@screen-xs` as of v3.0.1 **/
@screen-xs: 360px;
/**  Deprecated `@screen-xs-min` as of v3.2.0 **/
@screen-xs-min: @screen-xs;
/**  Deprecated `@screen-phone` as of v3.0.1 **/
@screen-phone: @screen-xs-min;

/**  Small screen / tablet **/
/**  Deprecated `@screen-sm` as of v3.0.1 **/
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
/**  Deprecated `@screen-tablet` as of v3.0.1 **/
@screen-tablet: @screen-sm-min;

/**  Medium screen / desktop **/
/**  Deprecated `@screen-md` as of v3.0.1 **/
@screen-md: 1200px;
@screen-md-min: @screen-md;
/**  Deprecated `@screen-desktop` as of v3.0.1 **/
@screen-desktop: @screen-md-min;

/**  Large screen / wide desktop **/
/**  Deprecated `@screen-lg` as of v3.0.1 **/
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
/**  Deprecated `@screen-lg-desktop` as of v3.0.1 **/
@screen-lg-desktop: @screen-lg-min;

/**  So media queries don't overlap when required, provide a maximum **/
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

/** == Grid system **/
/** ## Define your custom responsive grid. **/

/**  Number of columns in the grid. **/
@grid-columns: 12;
/**  Padding between columns. Gets divided in half for the left and right. **/
@grid-gutter-width: 32px;
/**  Navbar collapse **/
/**  Point at which the navbar becomes uncollapsed. **/
@grid-float-breakpoint: @screen-sm-min;
/**  Point at which the navbar begins collapsing. **/
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

/** == Container sizes **/
/** **/
/** ## Define the maximum width of `.container` for different screen sizes. **/

/**  Small screen / tablet **/
@container-tablet: (720px + @grid-gutter-width);
/**  For `@screen-sm-min` and up. **/
@container-sm: @container-tablet;

/**  Medium screen / desktop **/
@container-desktop: (1140px + @grid-gutter-width);
/**  For `@screen-md-min` and up. **/
@container-md: @container-desktop;

/**  Large screen / wide desktop **/
@container-large-desktop: (1140px + @grid-gutter-width);
/**  For `@screen-lg-min` and up. **/
@container-lg: @container-large-desktop;

/** buttons **/
@font-size-button: 14px;
@font-size-button-sm: 12px;

/** Btn size **/
@btn-height: 48px;
@btn-width: 208px;

/** Deafult Button State /** White **/
@btn-default-color: #222222;
@btn-default-bg: #ffffff;
@btn-default-border: #cecece;
@btn-default-text-transform: capitalize;
@btn-default-text-transform-uppercase: uppercase;
@btn-border-radius: 4px;
@btn-404-text-transform: uppercase;

@btn-default-hover-color: #006198;
@btn-default-hover-border: #ffffff;
@btn-default-hover-bg: #ffffff;

/** Disabled section not given **/
@btn-primary-disabled-bg: #000000;

/** Visited Section not given **/

/** Primary Button State /** Yellow **/
@btn-primary-color: #ffffff;
@btn-primary-bg: #1C6B76;
@btn-primary-border: #1C6B76;
/** not given **/
@btn-primary-text-decoration: none;

@btn-primary-hover-color: #ffffff;
@btn-primary-hover-border: #1C6B76;
@btn-primary-focus-color: #1C6B76;
/** not given **/
@btn-primary-hover-bg: #1C6B76;
@btn-primary-hover-text-decoration: none;

/** Disabled section not given **/
@btn-primary-disabled-bg: #000000;

/** Visited Section not given **/

/** Tertiary Button State **/
@btn-tertiary-color: #ffffff;
@btn-tertiary-bg: #3F3F49;
@btn-tertiary-border: #3F3F49;
@btn-tertiary-text-decoration: none;

@btn-tertiary-hover-color: #ffffff;
@btn-tertiary-hover-border: solid 1px #3F3F49;
@btn-tertiary-hover-bg: #3F3F49;
@btn-tertiary-hover-text-decoration: none;

/** Error Button State for custom dropdowns **/
@btn-error-border: #c6c6c6;
@btn-error-bg: #ffffff;

/** Disabled Section **/
@btn-tertiary-disabled-bg: #000000;

/** disabled button color **/
@btn-disabled-bg: #e8e8e8;
@btn-disabled-text-color: #747678;
@btn-disabled-text-decoration: none;
/** Visited Section **/

/** error properties **/
@font-size-error: 12px;
@font-color-error: #ee2941;

/** checkbox properties **/
@checkbox-label-color: #222222;
@checkbox-not-checked-border: #cecece;
@checkbox-not-checked-background: transparent; // transparent
@checkbox-checked-background: #1C6B76;
@checkbox-text-font-weight: 400;
@checkbox-default-font-size: 14px;

/** tag properties **/
@tag-border-color: #D3D6D6;
@tag-default-color: #4D4E50;
@tag-font-size: 14px;
@tag-background-color: transparent;

/** input properties **/
@font-size-input-text: 14px;
@font-size-label-text: 14px;
@font-color-input-text: #000000;
@font-color-label-text: #4D4E50;
@bg-color-error: #ffffff;
@border-color-input: #c6c6c6;
@border-color-error: #c6c6c6;
@border-radius-input: 4px;

//not done
/** dropdown properties **/
@font-size-dropdown: 14px;
@font-color-dropdown: #222222;
@bg-color-menu-item: #fafafa;
@bg-color-dropdown: #ffffff;
// dropdown expanded state

/**  stepper control properties **/
@bg-color-stepper: transparent;
@font-color-stepper: #222222;

/** badge properties **/
@bg-color-badge: #000000;
@font-color-badge: #ffffff;
@border-radius-badge: 8px;
@font-size-badge: @font-size-small;
@font-weight-badge: @font-weight-medium;
@badge-height: 16px;
@badge-width: 23px;

/** radio button properties **/
@font-color-radio-label: #222222;
@font-size-radio-label: 16px;
@border-color-radio-checked: #1c6b76;
@border-color-radio-unchecked: #747678;
@bg-color-radio: #ffffff; // need to make transparent
// checked radio styles

/** font-icon-sizes **/
@font-icon-size: 20px;
@font-icon-size-1: 32px;
@font-icon-size-2: 25px;
@font-icon-size-3: 22px;
@font-icon-color-1: #c6c6c6; // to check
@font-icon-color-2: #4D4E50; // not used anywhere
@font-icon-color-3: #000000;
@font-icon-color-disabled: #e8e8e8;

/** Promotext Background **/
@promo-background-color: @brand-primary;
@promo-text-color: #ffffff;
@promo-text-size: 10px;

/** Coming soon banner Background **/
@coming-soon-background-color: #a0a0a0;
@coming-soon-text-color: #ffffff;

/** header properties **/
@background-nav-top: #1C6B76;
@background-nav-bottom: #ffffff;
@background-nav-secondary-menu: #ffffff;
@font-color-nav: #ffffff;
@font-color-nav-bottom: #4D4E50;
@font-color-nav-mobile: #222222; // expanded hamburger not in design
@font-color-nav-link: #0274e5; // no links this time
@font-size-nav-icon-mobile: 20px; // to do
@font-size-nav-icon-desktop: 24px; // to do
@secondary-nav-box-shadow: 0 5px 8px -4px rgba(193, 183, 183, 0.5);
@secondary-nav-border-radius: 4px;
@header-bottom-border-color :#e7e7e7;
/** Mini Cart Border **/
@mini-cart-border-color: #cecece;
@header-search-icon-color: #747678;
@header-cart-badge-color : #1C6B76;
@header-menu-items-letter-spacing: 0.4px;

/** Auto suggest **/
@autosuggest-border-color: #ececec;
@autosuggest-bg-color: #ffffff;

/** footer colors **/
@footer-background: #ffffff;
@footer-sub-links: #3F3F49;
@footer-copy-right: #4D4E50;
@footer-background-mobile: #ffffff;
@footer-social-block-background: @brand-secondary-8; //not needed
@footer-border-color: @border-color-4; // not needed
@footer-heading-color: #3c3938;
@footer-top-border-color: #dfdfdf;
/** Bazaar Voice Variables **/
@bv-star-color-filled: #FCCC5E;
@bv-histogram-color-unfilled: #e3e4e4;
@bv-fieldset-background-color: #ffffff;
@bv-yes-button-color : #222222;
@bv-no-button-color: #222222;
@bv-btn-tertiary-color: #222222;
/** Tab Component **/
@tab-background-color: transparent;
@tab-background-color-active: transparent;
@tab-header-text-color: #222222;
@tab-font-weight: @font-weight-regular;
@tab-backround-color-hover: transparent;
@tab-selected-border-color: #3F3F49; // keep same as tab-bg-color
@font-family-text: @font-family-montserrat;
/** Profile Card Component **/
@card-default-border-color: #c6c6c6;
@card-disabled-background-color: #fafafa;
@card-disabled-text-color: #747678;
@add-card-border-color: #0274e5;
@add-card-background-color: #f4f9fc;
@card-hyperlink-color: #0274e5;

/** Favorite Heart Icon **/
@fav-icon-fill-color: #1c6b76;

/** Checkbox Disabled State **/
@checkbox-disabled-color: #c6c6c6;

/** Breadcrumbs **/
@breadcrumb-nav-link-color: #222222;
@breadcrumb-seperator-color: #747678;
@breadcrumb-background-color: @body-bg; // to check
@breadcrumb-font-size: 14px;
@breadcrumb-text-decoration: none;

/** Modal Sizes Large, Medium, Small, Extra-Small **/
@modal-desktop-large: 736px;
@modal-tablet-large: 640px;
@modal-mobile-large: 100%;

@modal-desktop-medium: 544px;
@modal-tablet-medium: 544px;
@modal-mobile-medium: 100%;

@modal-desktop-small: 416px;
@modal-tablet-small: 416px;
@modal-mobile-small: 100%;

@modal-desktop-xs: 416px;
@modal-tablet-xs: 416px;
@modal-mobile-xs: 100%;

@modal-top-bar-font-size: 24px;
@modal-top-bar-border-bottom: 1px solid #cecece;
@modal-top-bar-background-color: #ffffff;
@modal-heading-color: #222222;
@modal-body-color: #ffffff;
@modal-top-bar-dismiss-icn-size: 24px;
@modal-top-bar-height: 56px;

@modal-default-cta-width: 204px;
@modal-default-cta-height: 48px;
@modal-small-cta-width: 160px;
@modal-small-cta-height: 48px;
@modal-dual-cta-width: 172px;

//Qunatity stepper
@stepper-plus-minus-color : #747678;
// Accordion properties
@accordion-heading-color: #222222;
@accordion-icon-color: #747678;

// Social login properties
@facebook-button-background-color: #3b5998;
@google-button-background-color: #db4437;

@product-solution-heading: #015293;
@product-solution-tile-heading: #7fbd00;
//star rating
@star-stroke: #FCCC5E;
