
.vx-shipping-method {
  .sub-heading {
    font-size: @font-size-h6;
    color: @font-color-label-text;
  }
  .section-header {
    font-size: @font-size-h4;
    font-weight: @font-weight-medium;
    display: inline-block;
  }
  .section-sub-heading {
    font-size: @font-size-h5;
    font-weight: @font-weight-medium;
  }
  .shipping-method-change {
    font-size: @font-size-h5;
    color: @text-color-secondary-3;
    font-weight: @font-weight-medium;
  }
  @media only screen and (max-width: @screen-xs-max) {
    .save-method {
      width: 100%;
    }
    .shipping-method-change {
      font-size: @font-size-small;
    }
  }
}
