.vx-spinner,
.ymkt-form-spinner {
  @backgroundColor: rgba(246, 246, 246, 0.37);

  .spinner-container {
    position: absolute;
    background-color: @backgroundColor;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .spinner {
    width: auto;
  }
  .fullscreen {
    position: fixed;
  }
  .spinner-container .text {
  }
  .spinner-container .text {
  }
}
