#gp-xpress {
  .vx-mini-cart {
    background-color: @brand-secondary-4;
    box-shadow: 0 1px 4px 0 @border-color;
    .total-items {
      color: @text-color;
      font-size: @font-size-large;
      font-weight: @font-weight-medium;
      .total-items-count {
        font-weight: @font-weight-regular;
      }
    }
    .btn-tertiary {
      background-color: @btn-primary-bg;
      color: @brand-secondary-4;
    }
    .mini-cart-product-tile {
      .product-title {
        a {
          color: @text-color;
          font-size: @font-size-medium;
          font-weight: @font-weight-medium;
        }
      }
    }
  }
}
