#gp-pro {
  .main__inner-wrapper + footer,
  footer .footer-section {
    position: relative;
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    .footer__column{
      h5{
        color: @help-text-color;
      }
    }
  }
}
