<!-- 1. Facebook login component contains facebook SDK which need to be loaded on ready[In created()] and to load sdk we
   need to provide appID through props.
2. Facebook Component Contains button which by default it will be hidden
3. When we pass AppID and after getting authorised we need to call FB methods to login and
   after successful login you can get basic details of the user along with Accesstoken
4. The whole response we need to emit to parent componet [Here it is social-login-register] -->
<section class="facebook-login">
  <div class="facebook-login">
    <!-- <button type="button" class="btn btn-primary">{{i18n.facebookBtnTxt}}</button> -->
  </div>
</section>
