#gp-employee {
  .carousel-inner {
    .banner {
      &.hero-center {
        .banner__promotion {
          transform: translate(-50%, -40%);
          z-index: 5;
          .banner__heading {
            color: @text-color;
          }
          .banner__subheading {
            color: @text-color;
          }
        }
      }
    }
  }
}
