#innovia {
  .vx-mini-cart {
    border: none;
    box-shadow: 0 1px 4px 0 @border-color;

    .vx-empty-cart {
      .empty-mini-cart-msg {
        color: @text-color;
        font-size: @font-size-medium;
      }
    }

    .mini-cart-container {
      .total-items {
        font-family: @font-family-montserrat;

        .total-items-count {
          // font-family: @font-family-cocogoose-ulight;
          font-size: @font-size-large;
          font-family: @font-family-karla;
          line-height: 24px;
        }
      }

      .vx-cart-product-tile {
        .mini-cart-product-tile {

          .product-total-price {
            font-family: @font-family-montserrat;
          }

          .product-title a {
            font-weight: @font-weight-normal;
            text-decoration: underline;
          }
        }
      }
    }

    .sub-total-container {
      .sub-total-text .heading {
        font-family: @font-family-montserrat;
      }

      .sub-total-price .total-price {
        font-family: @font-family-montserrat;
      }

      .sub-total-text .text {
        color: @brand-secondary-5;
        font-weight: @font-weight-regular;
      }
    }
  }
}
