#innovia {
  .vx-profile-preferences {
    padding-top: 36px !important;

    .profile-cards-container {
      .row.py-xs-2.py-sm-3 {
        margin-top: 16px;
      }

      .vx-profile-card {
        .profile-card {
          padding: 20px 8px !important;
        }
      }
    }

    .icon-edit {
      font-size: @font-icon-size;
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    .vx-profile-preferences {
      margin-top: 10px !important;
    }
  }

  @media screen and (max-width: @screen-md-max) {
    .vx-profile-preferences {
      .profile-cards-container {
        .row.py-xs-2.py-sm-3 {
          margin-top: 0;
        }
      }
    }
  }
}
