<div class="vx-juicer-feed">
  <ul class="juicer-feed"
    :data-feed-id="juicerOptions.feedId"
    :data-per="juicerOptions.dataPer"
    :data-pages="juicerOptions.pages"
    :truncate="juicerOptions.truncate"
    :gutter="juicerOptions.gutter"
    :data-columns="juicerOptions.columns"
    :data-interval="juicerOptions.interval"
    :data-filter="juicerOptions.filter"
    :data-starting-at="juicerOptions.startingDate"
    :data-ending-at="juicerOptions.endingDate"
    :data-style="juicerOptions.slider"
    :data-overlay="juicerOptions.overlay"
    :data-after="juicerCallback()">
    <h1 class="referral"> </h1>
  </ul>
</div>
