#vanity-fair {
  .vx-500-page {
    .error-container {
      background-color: @brand-secondary-8;
      padding: 24px;
    }
    .error-heading {
      margin-bottom: 40px;
      color: @error-page-font-color;
      font-size: @font-size-h2;
      font-weight: @font-weight-regular;
      line-height: 32px;
    }
    .error-msg-container {
      margin-bottom: 20px;
      color: @error-page-font-color;
      font-size: @font-size-large;
      font-weight: @font-weight-medium;
      letter-spacing: @letter-spacing-slashed;
    }
    .immediate-assitance {
      color: @error-page-font-color;
      font-size: @font-size-medium;
      font-weight: @font-weight-regular;
      letter-spacing: @letter-spacing-slashed;
    }
  }
}
