.vx-bundles {
  h1 {
    text-align: center;
  }
  .bundles-image-wrapper {
    .view-site-content-vx-image-tile {
      width: 100%;
      min-height: 350px;
      background-size: cover;
    }
  }
}

