#innovia {
  .vx-order-confirmation {
    .confirmation-page-title {
      font-size: @font-size-xs-h1;
      font-family: @font-family-heading;
    }

    .confirmation-page-info {
      span {
        font-size: @font-size-small;
      }
    }

    .order-number {
      font-size: @font-size-medium;
      font-family: @font-family-heading;
    }

    &>.d-flex.flex-row.flex-wrap {
      .order-info-block {
        .order-info-heading {
          font-family: @font-family-heading;
          margin-bottom: 8px;
        }

        .order-info {
          font-size: @font-size-base;
          font-family: @font-family-karla;
        }
      }

      &>p.sub-title {
        font-family: @font-family-heading;
      }

      .vx-product-tile {
        .product-title a {
          color: @text-color-secondary-5;
        }
      }
    }

    .sub-total-helper-text {
      a {
        font-size: @font-size-small;
      }
    }
  }
}
