#gp-employee {
  .vx-delete-address {
    p {
      font-size: @font-size-large;
      margin-bottom: 16px;
    }
    ul {
      li {
        font-size: @font-size-medium;
        padding-bottom: 8px;
      }
    }
  }
  @media only screen and (max-width: @screen-xs-max) {
    .vx-delete-address {
      .modal-btn-xs-sticky {
        width: 100%;
        position: relative;
        bottom: 0px;
      }
    }
  }
}
