#gp-employee {
  .top-bar .heading-container {
    h2 {
      font-weight: @font-weight-bold;
    }
  }
  .modal-container {
    border-radius: 4px;
  }
  //Edge Specific CSS for Modal Overlay
  @supports (-ms-ime-align: auto) {
    .modal-container {
      transform: scale(1);
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  #gp-employee {
    .top-bar .heading-container {
      h2 {
        font-size: 22px;
      }
    }
    .modal-container {
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .modal-btn-primary-large,
    .modal-btn-primary-medium,
    .modal-btn-primary-small {
      &.modal-btn-xs-sticky {
        width: @modal-small-cta-width;
        position: relative;
        bottom: 0;
      }
    }

    .top-bar .heading-container {
      h2 {
        letter-spacing: normal;
      }
    }
    .modal-body {
      max-height: 70vh;
    }
  }
  .modal-container.medium {
    left: 0;
    right: 0;
  }
  .modal-scrollable {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }
}
