#copper-crane {
  .vx-checkout {
    .main-heading {
      margin-top: 32px;
    }
    .checkout-sections {
      .checkout-section {
        & > .heading {
          font-family: @font-family-queulat-bold;
        }
        .vx-payment-billing {
          & > .section-sub-heading.editable-sub-heading {
            font-family: @font-family-queulat-bold;
          }
        }
      }
    }
  }
}
