#copper-crane {
  .vx-accordion {
    .vx-product-tile {
      .product-title a,
      .product-price .product-current-price {
        font-family: @font-family-queulat-bold;
      }
      .product-total-price {
        font-family: @font-family-queulat-bold;
        font-size: @font-size-h3;
      }
      .product-quantity {
        color: @text-color;
        font-size: @font-size-small;
      }
    }
  }
}
