#copper-crane {
  .vx-payment-billing {
    .heading-section-wrapper {
      .section-header {
        font-family: @font-family-queulat-bold;
      }
      & > a {
        text-decoration: underline;
        span {
          color: @link-color;
          font-size: @font-size-small;
        }
      }
    }
    span.add-new-payment {
      color: @link-color;
      text-decoration: underline;
      font-size: @font-size-small;
    }
    #paypal-button-container {
      width: 220px;
    }
  }
}
