#innovia {
  .vx-left-nav {
    .left-nav-sub-container {
      .side-heading {
        font-size: @font-size-h2;
      }

      ul {
        li.cd-label {
          &.selected {
            // background-color: @left-nav-active-bg-color;

            a {
              font-weight: @font-weight-medium;
              color: @text-color;
            }
          }

          a {
            font-weight: @font-weight-normal;
          }

          //   &:hover {
          //     background-color: @left-nav-active-bg-color;
          //   }
        }
      }
    }
  }
}
