#innovia {
  .vx-payment-methods {
    padding-top: 32px !important;

    h1.top-heading {
      margin-top: 0;
      margin-bottom: 16px;
      color: @brand-secondary-14;
    }

    .payments-cards-container {

      .vx-profile-card {
        .profile-card {
          padding: 24px 8px !important;
        }

        .add-card {
          border: 1px solid @brand-primary;

          .add-card-container a span {
            color: @text-color-secondary-5;
            font-weight: @font-weight-regular;

            &.link-bold {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .icon-edit,
    .icon-trash {
      color: @help-text-color;
    }

    .vx-add-payment-form {
      .submit-btn-block input {
        font-weight: @font-weight-bold;
        color: @brand-secondary-4;
      }

      h3 {
        font-size: @font-size-h5;
      }

      .top-block {
        h3 {
          font-size: @font-size-h4;
        }
      }
    }
  }

  //   @media screen and (max-width: @screen-xs-max) {
  //     .vx-payment-methods {
  //       padding-top: 24px !important;
  //     }
  //   }
}
