#innovia {
  .vx-payment-billing {
    #paypal-button-container {
      width: 180px;

      @media only screen and (min-width: @screen-md-min) {
        width: 220px;
      }
    }
    .radio-button-group {
      .form-check-label {
        font-weight: @font-family-karla;
      }
    }

    .vx-add-payment-form {
      .label-text {
        font-family: @font-family-montserrat;
        font-size: @font-size-label-text;
        font-weight: @font-weight-regular;
        color: @font-color-label-text;
      }

      .submit-btn-block .payment-submit-btn {
        font-weight: @font-weight-bold;
        color: @brand-secondary-4;
      }
    }
  }
}
