#innovia {
  .vx-product-tile {
    .product-title {
      text-decoration: underline;

      a {
        font-weight: @font-weight-normal;
      }
    }

    .product-code,
    .product-quantity {
      font-family: @font-family-montserrat;
      font-weight: @font-weight-normal;
    }

    .product-total-price {
      font-family: @font-family-montserrat;
    }
  }
}
