#innovia {
  .vx-support-ticket {
    @media screen and (min-width: @screen-sm-max) {
      padding-right: 32px;
    }

    .contact-info-section {
      .live-chat {
        a {
          font-family: @font-family-montserrat;
          font-size: @font-size-medium;
        }

        p {
          color: @brand-secondary-5;
          font-weight: @font-weight-regular;
          font-size: @font-size-medium;
        }
      }

      .contact-information {
        a {
          color: @btn-tertiary-bg;
          text-decoration: underline;
        }

        p {
          color: @brand-secondary-5;
          font-size: @font-size-medium;
          font-weight: @font-weight-regular;
        }
      }
    }

    .table-container {
      th {
        font-family: @font-family-montserrat;
        font-size: @font-size-small;
      }

      .accordion-container {
        .heading {
          font-family: @font-family-montserrat;
        }
      }
    }
  }
}
