#innovia {

  .stepper-control .input-group input[type=number],
  .stepper-control .input-group input[type=text] {
    font-family: @font-family-base;
    font-weight: @font-weight-normal;
    font-size: @font-size-large;
  }

  .stepper-control .input-group .icon-minus,
  .stepper-control .input-group .icon-plus {
    color: @stepper-plus-minus-color;
  }
}
