#innovia {
  .vx-ymarket-form {
    .authorable-text {
      h2 {
        font-size: @font-size-h2;
      }

      .form-content {
        font-size: @font-size-small;
      }
    }

    .sapCpDropDown {
      font-size: @font-size-small;
    }

    .sapCpTextWidget {
      p {
        font-size: @font-size-small;
        text-align: left !important;
      }
    }

    .sapCpButton {
      text-transform: uppercase;
      border-radius: 0 !important;
      font-family: @font-family-montserrat;
    }
  }
}
