// @import '../../styles/common/variables.less';
// @import '../../styles/common/mixins.less';

.vx-ymarket-form {
  background-color: @body-bg;
  margin: 0 auto;
  display: none;

  label {
    display: none;
    &.sapCpLabelRequiredBefore {
      display: block;
    }
  }

  .sapCpCheckBoxWidget {
    label {
      display: block;
    }
  }

  input[type='tel'],
  input[type='number'] {
    &:extend(.form-group input[type='text']);
  }
  ::-webkit-input-placeholder {
    /* Chrome */
    color: @text-color-secondary;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: @text-color-secondary;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: @text-color-secondary;
    opacity: 1;
  }

  :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: @text-color-secondary;
    opacity: 1;
  }

  button.sapCpButton {
    &:extend(.btn-block, .btn, .btn-tertiary);
  }

  .sapCRLWidgetContent {
    padding-left: 0 !important;
  }

  .sapCpInputWidget {
    &:extend(.form-group);
    margin-top: 0;
  }

  .sapCpWidget {
    margin-top: 0;
    padding-bottom: 0px;
    .sapCRLWidgetContentLeft {
      display: none;
    }
    .sapCpDatePicker {
      // float: left;
    }
  }
  .sapCpWidget ~ .sapCpWidget {
    margin-top: 0;
  }
  .sapCpDropDownPlaceholder,
  .sapCpDropDown {
    // -webkit-appearance: menulist-button;
    // &:extend(.form-group input[type='text']);
    white-space: nowrap;
    // -webkit-appearance: button;
    // text-overflow: ellipsis;
    padding: 5px 4px 4px 10px;
    // border-bottom: 1px solid grey;
    height: 48px;
    width: 100%;
  }
  .sapCpContentPageLoading {
    opacity: inherit;
  }

  .authorable-text {
    border: none;
  }

  .sapCpButton {
    width: 100%;
  }

  .sapCpButtonWidget {
    clear: both;
  }

  .sapCpInput {
    width: 100%;
  }

  .sapCpDropDown {
    &.sapCpDatePickerDay,
    &.sapCpDatePickerMonth,
    &.sapCpDatePickerDay {
      min-width: initial;
      max-width: initial;
      width: 33%;
    }
  }
  .sapCpWidgetInvalid,
  .sapCpWidgetMandatoryMissing {
    background-color: transparent;
    input,
    select {
      border: 1px solid @border-color-error;
      background-color: @bg-color-error;
    }
  }

  .sapCpMissingMandatoryFieldLabel,
  .sapCpErrorMessageText {
    font-family: @font-family-base;
    font-size: @font-size-error;
    font-weight: @font-weight-regular;
    color: @font-color-error;
  }
  // Making default browser checkboxes visible for now
  .form-group {
    input[type='checkbox']:checked,
    input[type='checkbox']:not(:checked) {
      position: static;
      opacity: 1;
    }
  }

  select {
    &.form-control {
      border-radius: @border-radius-input;
    }
  }
  &.dixie-form,
  &.form-label-visible {
    label {
      display: block;
    }
    .sapCRLWidgetContentLeft,
    .sapCpWidgetContentLeft {
      display: block;
      width: 100% !important;
      text-align: left;
      float: none;
      .sapCpLabel:not(.sapCpLabelRequiredBefore):after {
        position: static;
      }
    }
    ::-webkit-input-placeholder {
      color: transparent;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: transparent;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: transparent;
    }

    :-ms-input-placeholder {
      color: transparent;
    }
  }
  .checkbox-wrapper {
    clear: both;
  }
  h2 {
    font-size: @font-size-h1;
  }
  h3 {
    font-size: @font-size-h2;
  }
  .ymkt-form-spinner {
    &.spinner-hidden {
      display: none;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .vx-ymarket-form {
    .sapCpInput {
      width: 100%;
    }
    .sapCpDropDown {
      &.sapCpDatePickerDay,
      &.sapCpDatePickerMonth,
      &.sapCpDatePickerDay {
        min-width: initial;
        max-width: initial;
        width: 33%;
      }
    }
  }
}
// if viewing in smart edit
.smartedit-html-container {
  .vx-ymarket-form {
    display: block;
  }
}
