#innovia {
  .vx-shopping-cart {

    .product-tile {
      .vx-cart-product-tile {
        .shopping-cart-product-tile {

          .product-quantity,
          .product-code,
          .product-price span,
          .product-total-price {
            font-family: @font-family-montserrat;
          }

          .product-price {
            .product-old-price {
              color: @brand-secondary-5;
            }
          }
        }
      }
    }

    .icon-trash,
    .icon-add-to-list,
    .icon-share {
      color: @help-text-color;
    }
  }
}
