#brawny {
  .vx-order-details {
    .details-page-title {
      margin-top: 16px !important;
    }
    .order-number {
      font-family: @font-family-text;
    }
    & > .d-flex.flex-row.flex-wrap {
      .order-info-block {
        .order-info-heading {
          font-family: @font-family-heading;
        }
      }
      span.sub-title {
        font-family: @font-family-heading;
      }
      .multi-shipping-details,
      .tracking-details {
        .order-info-heading {
          font-family: @font-family-heading;
        }
      }
      .vx-product-tile {
        .product-title a {
          color: @link-color !important;
          text-decoration: underline;
          font-family: @font-family-text;
          text-transform: uppercase;
        }
        .product-title a,
        .product-price .product-current-price {
          font-family: @font-family-heading;
        }
        .product-total-price {
          font-family: @font-family-heading;
          font-size: @font-size-h3;
        }
        .product-code {
          color: @help-text-color;
        }
        .product-quantity {
          color: @text-color !important;
        }
      }
    }
  }
}
