.vx-slider {
  position: relative;
  max-height: 600px;
  max-width: 93vw;
  margin: 0 auto;

  .disabled {
    cursor: not-allowed;
  }

  .swiper-button-next,
  .swiper-button-prev {
    height: 16px;
    z-index: 5;
    background-image: none;
  }

  .swiper-button-prev {
    left: -24px;
    background: none;
    border: 0;
  }

  .swiper-button-next {
    right: -24px;
    background: none;
    border: 0;
  }

  .swiper-slide {
    height: auto;
    max-height: 100%;

    .search-browse-product-tile {
      justify-content: center;
      padding-bottom: 40px;
    }
  }

  .swiper-container {
    max-height: 100%;
    padding-bottom: 20px;

    .swiper-wrapper {
      max-height: 100%;
      height: auto;
      box-sizing: border-box;
    }
  }

  .search-browse-product-tile {
    .tile-image {
      max-width: 98%;
      max-height: 100%;
    }

    .tile-body {
      .product-name {
        min-height: 48px;
      }

      button {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .icon-chevron-right,
  .icon-chevron-left {
    font-size: @font-icon-size-2;
    color: @font-icon-color-3;
    padding: 0;
    height: 20px;
  }
}

body.modal-open {
  .vx-slider.modal-opened {
    z-index: auto;

    .swiper-container {
      z-index: auto;

      .swiper-wrapper {
        z-index: auto;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
      }

      .swiper-slide {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
      }
    }
  }
}

.pdp-page {
  .productDetailsPageSection4-component {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .pdp-page {
    .productDetailsPageSection4-component {
      .vx-slider {
        .swiper-button-prev {
          left: -26px;
        }

        .swiper-button-next {
          right: -26px;
        }
      }
    }
  }

  .vx-slider {
    max-height: 520px;
    width: 85vw;

    .swiper-button-prev {
      left: -20px;
    }

    .swiper-button-next {
      right: -20px;
    }

    .search-browse-product-tile {
      .tile-body {
        .product-name {
          min-height: 64px;
        }
      }
    }
  }
}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .vx-slider {
    width: 88vw;

    .swiper-button-prev {
      left: -24px;
    }

    .swiper-button-next {
      right: -24px;
    }
  }
}
