<div class="vx-order-details">
  <vx-spinner ref="spinner" :image="globals.assetsPath+'images/spinner.gif'" full-screen>
  </vx-spinner>
  <vx-modal ref="saveListModal" size="extra-small" :heading="i18n.orderDetails.selectListLabel">
    <vx-save-cart slot="component" :wishlistEntries="productList" :i18n="i18n.saveList" @list-saved="handleListSaved">
    </vx-save-cart>
  </vx-modal>
  <vx-modal ref="viewTermsModal" size="large" :heading="leaseAgrementData.legalTermName">
    <div slot="component">
      <p class="terms-content-intro" v-html="leaseAgrementData.legalTermsText"></p>
    </div>
  </vx-modal>
  <template v-if="dataLoaded">
    <vx-modal ref="cancelOrder" size="medium" :heading="i18n.orderDetails.cancelOrder">
      <vx-cancel-order slot="component" type="modal" :i18n="i18n.orderDetails" :order-id="orderDetails.code"
        @cancel-order-success="handleCancelOrderSuccess" @cancel-order-error="handleCancelOrderError"
        @keep-order="handleKeepOrder"></vx-cancel-order>
    </vx-modal>
      <div class="col-md-8 col-sm-12 col-xs-12 pr-xs-0 pl-xs-0 d-flex flex-row flex-wrap">
        <div class="d-flex flex-column confirmation-left-section">
          <h1 class="my-xs-4 details-page-title">{{i18n.orderDetails.orderDetailsHeading}}</h1>
          <div v-if="giveAwayCouponCode || giveAwayCouponName" class="give-away-coupon py-xs-3 pl-xs-3 mt-md-2 mb-xs-3">
            <p>{{i18n.orderDetails.giveAwayCoupon}}</p>
            <h5 v-if="giveAwayCouponName">{{giveAwayCouponName}}</h5>
            <h5 v-if="giveAwayCouponCode">{{giveAwayCouponCode}}</h5>
          </div>
      </div>
      <p v-if="orderDetails.isSubscription" class="col-xs-12 px-xs-0 mb-xs-0 order-number">
          {{i18n.orderDetails.subscrOrder}} #{{orderDetails.code}}</p>
          <p v-else class="col-xs-12 px-xs-0 mb-xs-0 order-number">
              {{i18n.orderDetails.order}} #{{orderDetails.code}}</p>
      <div class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
        <div class="order-info-heading pb-xs-2">
          {{i18n.orderDetails.orderPlaced}}
        </div>
        <div class="order-info">
          {{getDateByTimeZone(orderDetails.created)}} {{i18n.orderDetails.estName}}
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
        <div class="order-info-heading pb-xs-2">
          {{i18n.orderDetails.orderStatus}}
        </div>
        <div class="order-info order-status">
          {{orderDetails.statusDisplay}}
        </div>
      </div>
      <div v-if="globals.isB2B() && isAdmin"
        class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
        <div class="order-info-heading pb-xs-2">
          {{i18n.orderDetails.orderPlacedBy}}
        </div>
        <div class="order-info">
          {{orderDetails.user.name}}
        </div>
      </div>
      <div v-if="!isMultiple" class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
        <div class="order-info-heading pb-xs-2">
          {{i18n.orderDetails.shippedTo}}
        </div>
        <div class="order-info d-flex flex-column">
          <span class="user-name">
            <span class="delivery-address">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.firstName}}</span>
            <span class="delivery-address">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.lastName}}</span>
          </span>
          <span class="delivery-address" v-if="orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress && orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.companyName">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.companyName}}</span>
          <span class="delivery-address">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.line1}}</span>
          <span class="delivery-address" v-if="orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.line2">
            {{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.line2}}
          </span>
          <span>
            <span class="delivery-address">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.town}}</span>
            <span class="delivery-address">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.region.isocodeShort}}</span>
            <span class="delivery-address">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.postalCode}}</span>
          </span>
          <span class="delivery-address" v-if="orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress && orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.country">{{orderDetails.deliveryGroup[0].value.splitEntries[0].deliveryAddress.country.isocode}}</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
        <div class="order-info-heading pb-xs-2">
          {{i18n.orderDetails.billedTo}}
        </div>
        <div class="order-info d-flex flex-column" v-if="orderDetails.paymentInfo.cardType.name === paymentTypes.googlePay">
          <span>{{orderDetails.paymentInfo.accountHolderName}}</span>
          <span>{{orderDetails.paymentInfo.cardNumber}}</span>
          <span>{{orderDetails.paymentInfo.cardType.name}}</span>
        </div>
        <div class="order-info d-flex flex-column" v-else-if="orderDetails.paymentInfo">
          <span>{{orderDetails.paymentInfo.accountHolderName}}</span>
          <span v-if="orderDetails.paymentInfo.cardType.name.indexOf('PayPal') === -1">{{i18n.orderDetails.paidByCreditcard}}</span>
          <span v-if="orderDetails.paymentInfo.cardType && orderDetails.paymentInfo.cardType.name.indexOf('PayPal') === -1">{{orderDetails.paymentInfo.cardType.name}}</span>
          <span>{{orderDetails.paymentInfo.cardNumber}}</span>
          <span v-if="orderDetails.paymentInfo.cardType && orderDetails.paymentInfo.cardType.name.indexOf('PayPal') > -1">{{orderDetails.paymentInfo.cardType.name}}</span>
          <span v-if="orderDetails.paymentInfo.billingAddress">{{orderDetails.paymentInfo.billingAddress.postalCode}}</span>
        </div>
        <div class="order-info d-flex flex-column" v-else>
          {{i18n.orderDetails.notAvailable}}
        </div>
      </div>
      <!-- Install for single shipping  -->
      <template v-if="globals.isB2B() && !isMultiple">
        <template v-for="entry in orderDetails.deliveryGroup[0].value.splitEntries">
          <div v-if="checkInstallable(formattedEntries[entry.entryNumber])" class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
            <div class="order-info-heading pb-xs-2">
              {{i18n.orderDetails.installation}}
            </div>
            <div class="order-info">
              {{getInstallDate(orderDetails.scheduleInstallation.preferredDate)}} |
              <span class="install-time"> {{orderDetails.scheduleInstallation.preferredTime}}</span>
            </div>
          </div>
        </template>
      </template>
      <template v-if="orderDetails.isSubscription">
        <div class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
          <div class="order-info-heading pb-xs-2">
            {{i18n.orderDetails.subscriptionHeading}}
          </div>
          <div class="order-info shipping-method">
            <a @click="globals.navigateToUrl('subscriptionLanding')">{{i18n.orderDetails.manageSubscription}}</a>
          </div>
        </div>
      </template>
      <template v-if="!orderDetails.isSubscription">
        <div v-if="!isMultiple" class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
          <div class="order-info-heading pb-xs-2">
            {{i18n.orderDetails.deliveryMethod}}
          </div>
          <template v-if="orderDetails.deliveryMode && Object.keys(orderDetails).length != 0">
            <div class="order-info shipping-method">
              {{orderDetails.deliveryMode.name}}
            </div>
          </template>
          <template v-else>
            <div class="order-info shipping-method">
              {{orderDetails.deliveryGroup[0].value.deliveryMode.name}}
            </div>
          </template>
        </div>
        <template v-if="!isMultiple && !orderDetails.isSubscription">
          <template v-if="orderDetails.deliveryMode && Object.keys(orderDetails).length != 0">
            <div v-if="orderDetails.deliveryMode.description"
              class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
              <div class="order-info-heading pb-xs-2">
                {{i18n.orderDetails.deliveryInstructions}}
              </div>
              <div class="order-info pr-sm-3">
                {{orderDetails.deliveryMode.description}}
              </div>
            </div>
          </template>
          <template v-else>
            <div v-if="orderDetails.deliveryGroup[0].value.deliveryInstruction"
              class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
              <div class="order-info-heading pb-xs-2">
                {{i18n.orderDetails.deliveryInstructions}}
              </div>
              <div class="order-info pr-sm-3">
                {{orderDetails.deliveryGroup[0].value.deliveryInstruction}}
              </div>
            </div>
          </template>
        </template>
      </template>
      <!-- Lease -->
      <template v-if="globals.isB2B()">
        <div v-if="checkLeasable(orderDetails.deliveryGroup)"
          class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
          <div class="order-info-heading pb-xs-2">
            {{i18n.orderDetails.leaseAgreement}}
          </div>
          <div class="order-info">
            {{orderDetails.leaseName}}
          </div>
          <div class="order-info">
            <a :href="globals.getNavBaseUrl()+globals.navigations.leasePage+`/?${order.orderId}=${orderCode}`"
              target="_blank">{{i18n.orderDetails.download}}</a>
          </div>
        </div>
      </template>
      <!-- refund section  -->
      <template v-if="orderDetails.refundAmt">
        <div class="col-md-3 col-sm-3 col-xs-6 pt-xs-4 pt-sm-5 pl-xs-0 order-info-block">
          <div class="order-info-heading pb-xs-2">
            {{i18n.orderDetails.refund}}
          </div>
          <div class="order-info-heading pb-xs-2">
            ${{orderDetails.refundAmt}}
          </div>
        </div>
      </template>
      <div class="col-xs-12 px-xs-0">
        <button class="btn btn-tertiary mt-xs-4 customer-service"
          @click="redirectContactUs()">{{i18n.orderDetails.customerServiceButton}}</button>
      </div>
      <div class="col-xs-12 px-xs-0 pt-xs-5 pb-xs-3">
        <span class="col-xs-11 px-xs-0 sub-title">
          <template v-if="orderDetails.isSubscription">
            <p class="col-xs-12 px-xs-0 sub-title">{{i18n.orderDetails.itemOrdered}}</p>
          </template>
          <template v-else>
            <p class="col-xs-12 px-xs-0 sub-title">{{i18n.orderDetails.itemsOrdered}}
              ({{orderDetails.totalProductQty}})</p>
          </template>
        </span>
        <span v-if="!globals.isB2C()" class="icon-add-to-list col-xs-1 px-xs-0 d-flex flex-row-reverse"
          :title="i18n.orderDetails.iconAddToListTitle"
          :aria-label='i18n.orderDetails.iconAddToListTitle' tabindex="0" @click="handleSaveList($event)" role='button'
          @keyup.enter-space='handleSaveList($event)'></span>
      </div>
      <div v-for='(consignment,index) in renderData' class="px-xs-0 mb-xs-5 col-xs-12">
        <div v-if="isMultiple"
          class="col-xs-12 px-sm-4 py-sm-4  px-xs-3 py-xs-3 multi-shipping-details d-flex flex-row flex-wrap">
          <div class="col-xs-12 col-sm-6 px-xs-0">
            <div class="order-info-heading pb-xs-2">
              {{i18n.orderDetails.shippedTo}}
            </div>
            <div class="order-info d-flex flex-column pr-xs-3">
              <span class="user-name mb-xs-0">
                <span class="delivery-address">{{consignment.shippingAddress.firstName}}</span>
                <span class="delivery-address">{{consignment.shippingAddress.lastName}}</span>
              </span>
              <span class="delivery-address"
                v-if="consignment.shippingAddress && consignment.shippingAddress.companyName">{{consignment.shippingAddress.companyName}}</span>
              <span class="delivery-address">{{consignment.shippingAddress.line1}}</span>
              <span class="delivery-address" v-if="consignment.shippingAddress.line2">
                {{consignment.shippingAddress.line2}}</span>
              <span>
                <span class="delivery-address">{{consignment.shippingAddress.town}}</span>
                <span class="delivery-address"> {{consignment.shippingAddress.region.isocodeShort}}</span>
                <span class="delivery-address">{{consignment.shippingAddress.postalCode}}</span>
              </span>
              <span class="delivery-address"
                v-if="consignment.shippingAddress && consignment.shippingAddress.country">{{consignment.shippingAddress.country.isocode}}</span>
            </div>
          </div>
          <template v-if="consignment.statusList[0].renderObj.unShippedProducts.length">
            <template v-if="consignment.deliveryMode.value.deliveryInstruction && !orderDetails.isSubscription">
              <div class="col-xs-12 col-sm-6 pt-xs-4 px-xs-0 pt-sm-0">
                <div class="order-info-heading pb-xs-2">
                  {{i18n.orderDetails.deliveryInstructions}}
                </div>
                <div class="order-info">
                  {{consignment.deliveryMode.value.deliveryInstruction}}
                </div>
              </div>
            </template>
            <div class="col-xs-12 col-sm-6 px-xs-0"
              :class="consignment.deliveryMode.value.deliveryInstruction ? 'pt-xs-4' : ''">
              <div class="order-info-heading pb-xs-2">
                {{i18n.orderDetails.deliveryMethod}}
              </div>
              <div class="order-info shipping-method">
                {{consignment.deliveryMode.value.deliveryMode.name}}
              </div>
            </div>
          </template>
          <template v-else>
            <template v-if="consignment.deliveryMode.value.deliveryInstruction && !orderDetails.isSubscription">
              <div class="col-xs-12 col-sm-6 pt-xs-4 px-xs-0 pt-sm-0">
                <div class="order-info-heading pb-xs-2">
                  {{i18n.orderDetails.deliveryInstructions}}
                </div>
                <div class="order-info">
                  {{consignment.deliveryMode.value.deliveryInstruction}}
                </div>
              </div>
            </template>
            <div class="col-xs-12 col-sm-6 px-xs-0 pt-xs-4">
              <div class="order-info-heading pb-xs-2">
                {{i18n.orderDetails.deliveryMethod}}
              </div>
              <div class="order-info shipping-method">
                {{getShippingMethod(consignment.deliveryMode.value.deliveryMode.name)}}
              </div>
            </div>
          </template>

          <!-- install for multiple -->
          <template v-if="globals.isB2B()">
            <template v-for="entry in orderDetails.deliveryGroup[index].value.splitEntries">
              <div v-if="checkInstallable(formattedEntries[entry.entryNumber])"
                class="col-xs-12 col-sm-6 pt-xs-4 px-xs-0">
                <div class="order-info-heading pb-xs-2">
                  {{i18n.orderDetails.installation}}
                </div>
                <div class="order-info">
                  {{getInstallDate(orderDetails.scheduleInstallation.preferredDate)}} |
                  <span class="install-time"> {{orderDetails.scheduleInstallation.preferredTime}}</span>
                </div>
              </div>
            </template>
            <!-- </template> -->
          </template>
        </div>

        <template v-for='(statusData,index) in consignment.statusList'>
          <template v-if="statusData.renderObj.unShippedProducts.length">
            <div class="col-xs-12 px-sm-4 py-sm-3 py-xs-2 py-xs-2 tracking-details d-flex flex-row flex-wrap"
              :class="{'single-tracking': !isMultiple}">
              <div class="col-xs-6 px-xs-0">
                <div class="order-info-heading pb-xs-2">
                  {{i18n.orderDetails.trackingStatus}}
                </div>
                <div class="order-info">
                  {{statusData.consignmentEntryStatus}}
                </div>
              </div>
            </div>
            <vx-product-tile class="px-xs-0 col-xs-12 unshipped-products"
              v-for='productEntry in statusData.renderObj.unShippedProducts'
              v-if="productEntry.orderEntry.visible">
              <template
                v-if="productEntry && productEntry.orderEntry && productEntry.orderEntry.product && productEntry.orderEntry.product.images && productEntry.orderEntry.product.images.length!==0 && productEntry.orderEntry.product.images[2] && productEntry.orderEntry.product.images[2].url"
                slot="image-slot">
                <img :alt="productEntry.orderEntry.product.name"
                  :src="globals.getThumbnailImageUrl(productEntry.orderEntry.product.images)">
              </template>
              <template v-if="!productEntry.orderEntry.product.images" slot="image-slot">
                <img alt="no image" :src="globals.assetsPath + 'images/no_image.svg'">
              </template>
              <template slot="details">
                <p class="product-title mb-xs-2">
                  <a
                    :href="globals.getNavigationUrl('empty')+productEntry.orderEntry.product.url" v-html="productEntry.orderEntry.product.name"></a>
                </p>
                <span class="sr-only">{{i18n.orderDetails.itemId}} : {{productEntry.orderEntry.product.code}}</span>
                <p class="product-code mb-xs-2" aria-hidden="true">{{i18n.orderDetails.itemId}}
                  {{productEntry.orderEntry.product.code}}
                </p>
                <p class="product-stock mb-xs-3"
                  v-if="productEntry.orderEntry.product && productEntry.orderEntry.product.materialStatus === ProductAvailability.OBSOLETE && productEntry.orderEntry.product.replacementProductCode && productEntry.orderEntry.product.replacementProductCode!==''">
                  {{i18n.orderDetails.discontinued}} {{i18n.orderDetails.replacedBy}}
                  {{productEntry.orderEntry.product.replacementProductCode}}
                </p>
                <p class="product-stock mb-xs-3"
                  v-if="productEntry.orderEntry.product && productEntry.orderEntry.product.materialStatus === ProductAvailability.OBSOLETE && !productEntry.orderEntry.product.replacementProductCode">
                  {{i18n.orderDetails.discontinued}}
                </p>
                <template
                  v-if="productEntry.orderEntry.product &&  productEntry.orderEntry.product.materialStatus !== ProductAvailability.OBSOLETE">
                  <p class="product-stock mb-xs-3"
                    v-if="productEntry.orderEntry.product.stock.stockLevelStatus !== ProductAvailability.IN_STOCK && productEntry.orderEntry.product.stock.stockLevelStatus !== ProductAvailability.LOW_STOCK ">
                    {{productEntry.orderEntry.product.stock.stockLevelStatus}}</p>
                </template>
                <p class="product-quantity mb-xs-3">{{i18n.orderDetails.quantity}} :
                  {{productEntry.quantity}}
                </p>
                <!-- product level promo -->
                <p class="product-promo mb-xs-3 mr-sm-3"
                  v-if="promotionData && promotionData.productLevelPromotionData && promotionData.productLevelPromotionData.length!==0 && promotionData.productLevelPromotionData[productEntry.orderEntry.entryNumber]">
                  {{i18n.orderDetails.promo}}:
                  {{promotionData.productLevelPromotionData[productEntry.orderEntry.entryNumber]}}
                </p>
                <p class="subscription" ref="subscribeInfo" v-if="orderDetails.isSubscription && formattedEntries[productEntry.orderEntry.entryNumber].subscriptionFrequency && formattedEntries[productEntry.orderEntry.entryNumber].subscriptionFrequency.entry">{{i18n.orderDetails.subscribeFrequencyHeading}}{{formattedEntries[productEntry.orderEntry.entryNumber].subscriptionFrequency.entry[0].key}}
                  <span role="button" tabindex="0" class="icon-alert-circle popover-subscribe"
                    :aria-label='i18n.orderDetails.subscribeIconTitle' data-toggle="popover" @mouseover='openTooltip()'></span>
                </p>
                <!-- order level promo. For Order level promotions for now commenting this code as need clarification on displaying cart level promotions -->
                <!-- <p class="product-promo mb-xs-3 mr-sm-3" v-if="promotionData && promotionData.orderLevelPromotionData && promotionData.orderLevelPromotionData.length!==0" v-for="couponCode in promotionData.orderLevelPromotionData" tabindex="0" role="text">{{i18n.orderDetails.promo}}:
                  {{couponCode}}
                </p> -->
                <!-- Gift -->
                <template v-if="globals.isB2C() && globals.siteConfig.isGiftingEnabled">
                  <template v-if="checkGiftable(productEntry.orderEntry)">
                    <p class="helper-text mb-xs-3">{{i18n.orderDetails.giftable}}</p>
                    <template v-if="productEntry.orderEntry.giftMessage">
                      <p class="gift-message-heading mb-xs-2">{{i18n.orderDetails.giftMessageHeading}}</p>
                      <p class="gift-message">{{productEntry.orderEntry.giftMessage}}</p>
                    </template>
                  </template>
                </template>
                <!-- install at product level-->
                <template v-if="globals.isB2B()">
                  <template v-if="installableProducts[productEntry.orderEntry.entryNumber]">
                    <p class="helper-text mb-xs-3">{{i18n.orderDetails.installable}}</p>
                  </template>
                </template>
              </template>
              <template slot="right-section-slot">
                <template v-if="orderDetails.isSubscription">
                  <p class="product-total-price" v-if="productEntry.orderEntry.product.subscriptionPrice && orderDetails.totalSubscriptionPrice.formattedValue"
                    role="text" :aria-label="'total Price ' + orderDetails.totalSubscriptionPrice.formattedValue">
                    {{orderDetails.totalSubscriptionPrice.formattedValue}}</p>
                  <p class="subscription" v-if="productEntry.orderEntry.product.subsPercentageDiscount">
                    {{i18n.orderDetails.subscribeDiscount1}}{{productEntry.orderEntry.product.subsPercentageDiscount}}{{i18n.orderDetails.subscribeDiscount2}}</p>
                </template>
                <template v-else>
                  <p v-if="productEntry && productEntry.consignmentEntryPrice &&  productEntry.consignmentEntryPrice.formattedValue" class="product-total-price mb-xs-3">{{productEntry.consignmentEntryPrice.formattedValue}}</p>
                </template>

                <template v-if="globals.siteConfig.reorderEnabled && !orderDetails.isSubscription">
                  <vx-reorder-product :single-product-data="{ product: productEntry.orderEntry.product, quantity: productEntry.quantity } "
                    :i18n="i18n.reorderButton">
                  </vx-reorder-product>
                </template>
              </template>
            </vx-product-tile>
          </template>
          <template v-if="statusData.renderObj.trackingList.length" v-for='trackingInfo in statusData.renderObj.trackingList'>
            <div class="col-xs-12 px-sm-4 py-sm-3 py-xs-2 py-xs-2 tracking-details d-flex flex-row flex-wrap" :class="{'single-tracking': !isMultiple}">
              <div class="col-xs-6 px-xs-0">
                <div class="order-info-heading pb-xs-2">
                  {{i18n.orderDetails.trackingStatus}}
                </div>
                <div class="order-info">
                  {{trackingInfo.products[0].consignmentEntryStatus}}
                </div>
              </div>
              <div class="col-xs-6 px-xs-0">
                <div class="order-info-heading pb-xs-2">
                  {{i18n.orderDetails.trackingNumber}}
                </div>
                <div class="order-info">
                  <a target="_blank" :href="trackingInfo.trackingURL">{{trackingInfo.trackingID}}</a>
                </div>
              </div>
            </div>
            <vx-product-tile class="px-xs-0 col-xs-12" v-for='productEntry in trackingInfo.products'
              v-if="productEntry.orderEntry.visible">
              <template
                v-if="productEntry && productEntry.orderEntry && productEntry.orderEntry.product && productEntry.orderEntry.product.images && productEntry.orderEntry.product.images.length!==0 && productEntry.orderEntry.product.images[2] && productEntry.orderEntry.product.images[2].url"
                slot="image-slot">
                <img :alt="productEntry.orderEntry.product.name"
                  :src="globals.getThumbnailImageUrl(productEntry.orderEntry.product.images)">
              </template>
              <template v-if="!productEntry.orderEntry.product.images" slot="image-slot">
                <img alt="no image" :src="globals.assetsPath+'images/no_image.svg'">
              </template>
              <template slot="details">
                <p class="product-title mb-xs-2">
                  <a
                    :href="globals.getNavigationUrl('empty')+productEntry.orderEntry.product.url" v-html="productEntry.orderEntry.product.name"></a>
                </p>
                <span class="sr-only">{{i18n.orderDetails.itemId}} :
                  {{productEntry.orderEntry.product.code}}</span>
                <p class="product-code mb-xs-2" aria-hidden="true">{{i18n.orderDetails.itemId}}
                  {{productEntry.orderEntry.product.code}}
                </p>
                <p class="product-stock mb-xs-3"
                  v-if="productEntry.orderEntry.product && productEntry.orderEntry.product.materialStatus === ProductAvailability.OBSOLETE && productEntry.orderEntry.product.replacementProductCode && productEntry.orderEntry.product.replacementProductCode!==''">
                  {{i18n.orderDetails.discontinued}} {{i18n.orderDetails.replacedBy}}
                  {{productEntry.orderEntry.product.replacementProductCode}}
                </p>
                <p class="product-stock mb-xs-3"
                  v-if="productEntry.orderEntry.product && productEntry.orderEntry.product.materialStatus === ProductAvailability.OBSOLETE && !productEntry.orderEntry.product.replacementProductCode">
                  {{i18n.orderDetails.discontinued}}
                </p>

                <template
                  v-if="productEntry.orderEntry.product &&  productEntry.orderEntry.product.materialStatus !== ProductAvailability.OBSOLETE">
                  <p class="product-stock mb-xs-3"
                    v-if="productEntry.orderEntry.product.stock.stockLevelStatus !== ProductAvailability.IN_STOCK && productEntry.orderEntry.product.stock.stockLevelStatus !== ProductAvailability.LOW_STOCK ">
                    {{productEntry.orderEntry.product.stock.stockLevelStatus}}</p>
                </template>
                <p class="product-quantity mb-xs-3">{{i18n.orderDetails.quantity}} : {{productEntry.quantityShip}}</p>
                <!-- product level promo -->
                <p class="product-promo mb-xs-3 mr-sm-3"
                  v-if="promotionData && promotionData.productLevelPromotionData && promotionData.productLevelPromotionData.length!==0 && promotionData.productLevelPromotionData[productEntry.orderEntry.entryNumber]">
                  {{i18n.orderDetails.promo}}:
                  {{promotionData.productLevelPromotionData[productEntry.orderEntry.entryNumber]}}
                </p>
                <!-- order level promo. For Order level promotions for now commenting this code as need clarification on displaying cart level promotions -->
                <!-- <p class="product-promo mb-xs-3 mr-sm-3" v-if="promotionData && promotionData.orderLevelPromotionData && promotionData.orderLevelPromotionData.length!==0" v-for="couponCode in promotionData.orderLevelPromotionData" tabindex="0" role="text">{{i18n.orderDetails.promo}}:
                  {{couponCode}}
                </p> -->
                <!-- Gift -->
                <template v-if="globals.isB2C() && globals.siteConfig.isGiftingEnabled">
                  <template v-if="checkGiftable(productEntry.orderEntry)">
                    <p class="helper-text mb-xs-3">{{i18n.orderDetails.giftable}}</p>
                    <template v-if="productEntry.orderEntry.giftMessage">
                      <p class="gift-message-heading mb-xs-2">{{i18n.orderDetails.giftMessageHeading}}</p>
                      <p class="gift-message">{{productEntry.orderEntry.giftMessage}}</p>
                    </template>
                  </template>
                </template>
                <!-- install at product level-->
                <template v-if="globals.isB2B()">
                  <template v-if="istallableProducts[productEntry.orderEntry.entryNumber]">
                    <p class="helper-text mb-xs-3">{{i18n.orderDetails.installable}}</p>
                  </template>
                </template>
              </template>
              <template slot="right-section-slot">
                <template v-if="orderDetails.isSubscription">
                  <p class="product-total-price" v-if="orderDetails.totalSubscriptionPrice.formattedValue" role="text" :aria-label="'total Price ' + orderDetails.totalSubscriptionPrice.formattedValue">
                    {{orderDetails.totalSubscriptionPrice.formattedValue}}</p>
                  <p class="subscription" v-if="productEntry.orderEntry.product.subsPercentageDiscount">
                    {{i18n.orderDetails.subscribeDiscount1}}{{productEntry.orderEntry.product.subsPercentageDiscount}}{{i18n.orderDetails.subscribeDiscount2}}</p>
                </template>
                <template v-else>
                  <p v-if="productEntry && productEntry.price" class="product-total-price mb-xs-3">{{productEntry.price}}
                  </p>
                </template>
                <template v-if="globals.siteConfig.reorderEnabled && !orderDetails.isSubscription">
                  <vx-reorder-product :single-product-data="{ product: productEntry.orderEntry.product, quantity: productEntry.quantity } "
                    :i18n="i18n.reorderButton">
                  </vx-reorder-product>
                </template>
              </template>
            </vx-product-tile>
          </template>
        </template>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 px-xs-0 order-summary-container">
      <vx-order-summary :i18n="i18n.orderSummary" :order-details="orderDetails" class="ml-sm-5 ml-xs-0"
        page="orderDetails" :is-shipping-multiple="isMultiple"
        :is-giftable="isGiftable" :is-installable="isInstallable" :contact-number="contactNumber">
        <div slot="bottomButton">
          <!-- <button class="btn btn-block btn-primary mb-xs-3">{{i18n.orderDetails.reorder}}</button> -->
          <button class="btn btn-block btn-default mb-xs-5" v-if="showCancelOrderButton"
            @click="handleCancelOrder($event)">{{i18n.orderDetails.cancelOrder}}</button>
            <template v-if="globals.siteConfig.reorderEnabled && !orderDetails.isSubscription">
              <vx-reorder-product :multiple-products-data="formattedEntries"
              :i18n="i18n.reorderButton"></vx-reorder-product>
            </template>
        </div>
      </vx-order-summary>
    </div>
  </template>
</div>
