footer {
  .footer-section {
    .social-block {
      .facebook,
      .pinterest,
      .instagram,
      .snapchat {
        display: none;
      }

      h5 {
        font-size: @font-size-small;
        letter-spacing: 0.4px;
        color: @footer-copy-right;
        font-weight: @font-weight-regular;
      }
    }
  }
}
