#vanity-fair {
  .search-browse-panel {
    .btn-tertiary {
      color: @btn-tertiary-color;
      border: 1px solid @btn-tertiary-border;
      &:hover {
        color: @btn-tertiary-color;
        background: @btn-tertiary-hover-bg;
      }
      &.compare-button {
        color: @btn-tertiary-color;
      }
    }
  }
}
