.search-browse-compare-table {
  .compare-table-data {
    .category-block {
      .category-name {
        background-color: @background-color-1;
        border-bottom: 1px solid @background-color-1;
        border-top: 1px solid @background-color-1;
        h3 {
          font-weight: @font-weight-medium;
        }
      }
      .category-data {
        border-bottom: 1px solid @border-color;
      }
    }
  }
}
