#brawny {
  .registration-and-login-sign-in {
    .form-group {
      label {
        color: @text-color-secondary;
      }
      input {
        border: 1px solid @border-color-secondary;
      }
    }
    .icon-eye {
      color: @font-icon-color-5;
    }
    a {
      color: @link-color;
      font-size: 11px;
      @media screen and (min-width: @screen-sm-min) {
        font-size: @font-size-small;
      }
      text-decoration: underline;
    }
    .no-account-text {
      font-size: @font-size-small;
    }
  }
}
