#vanity-fair {
  .vx-product-carousel {
    h2 {
      font-size: @font-size-h3;
      color: @font-color-label-text;
      @media only screen and (min-width: @screen-sm-min) {
        font-size: @font-size-h2;
      }
      @media only screen and (min-width: @screen-md-min) {
        font-size: @font-size-h1;
      }
    }
    .title-underline {
      padding-top: 0 !important;
    }
  }
}
