.c-sbs {
  .text-xs-center {
    padding: 8px 24px !important;
    h3 {
      font-size: @font-size-medium;
      font-weight: @font-weight-medium;
    }
  }
  &__learnMore {
    font-weight: @font-weight-medium;
  }
}
