#gp-employee {
  .vx-order-details {
    overflow: hidden;
    background-color: @card-layout-bg-color;
    border-radius: 4px;
    padding: 0 26px;
    margin: 0;

    .details-page-title {
      font-size: @font-size-h3;
      width: 66.66%;
      margin: 24px 0 !important;
    }

    .confirmation-left-section {
      .give-away-coupon {
        background-color: @cart-tile-bg-color;
        margin-right: 6%;
      }
    }

    .order-number {
      margin-top: 16px;
    }

    .order-summary-container {
      position: absolute;
      right: 26px;
      top: 73px;

      .order-summary {
        background-color: @brand-secondary-8;
        padding-bottom: 24px;
        border-radius: @card-layout-border-radius;

        .vx-order-summary-details {
          &>div {
            div.section-divider:nth-of-type(2) {
              display: none;
            }
          }

          .order-summary-heading {
            font-size: @font-size-h3;
          }
        }

        &>div.section-divider {
          display: none;
        }

        .sub-total-helper-text {
          display: none;
        }

        margin-bottom: 8px;
      }

      .section-divider {
        border-bottom: 1px solid @border-color;
      }
    }

    &>div:first-of-type {
      .tracking-details {
        border: none;
        border-radius: @card-layout-border-radius;
        margin-bottom: 8px;
      }

      .vx-product-tile {
        padding-bottom: 0px !important;

        .product-tile {
          .main-section {
            .card-content-section {
              .card-content {
                .card-content-right-section {
                  .product-total-price {
                    margin-bottom: 0 !important;
                  }
                  button {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    & > .col-md-8 {
      button.customer-service {
        .btn-primary;
      }
    }
    .icon-add-to-list {
      display: none;
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  #gp-employee {
    .vx-order-details {
      padding-bottom: 24px;
      .order-summary-container {
        margin-top: 12px;
        position: static;
        .vx-order-summary {
          margin-left: 0 !important;
        }
      }
      & > div:first-of-type {
        .vx-product-tile {
          margin-bottom: 8px;
          .product-tile {
            padding: 14px 18px;
            .main-section {
              .card-content-section {
                .card-content-left-section {
                  .quantity-section {
                    padding-top: 8px;
                  }
                }
                .card-content-right-section {
                  .product-total-price {
                    font-size: @font-size-h3;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  #gp-employee {
    .vx-order-details {
      padding: 0 16px 24px 16px;
      .order-summary-container {
        margin-top: 0;
      }
      & > div:first-of-type {
        .vx-product-tile {
          .product-tile {
            padding: 16px 8px;
            .main-section {
              .left-section {
                margin-right: 8px;
              }
              .card-content-section {
                .card-content {
                  .card-content-left-section {
                    .product-title {
                      max-width: calc(100% - 60px);
                      a {
                        font-size: @font-size-medium;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
