@media (min-width: @screen-md-min) {
  #b2b-white-label {
    .vx-shopping-cart {
      .cart-heading-container {
        margin-top: 8px !important;
        margin-bottom: 16px !important;
      }
      .cart-id-container {
        padding-top: 0 !important;
        margin-bottom: 4px !important;
      }
    }
  }
}
