#copper-crane {
  .table {
    thead {
      tr {
        th {
          font-family: @font-family-queulat-bold;
          font-size: @font-size-small;
        }
      }
    }
    tbody {
      tr {
        td a,
        td {
          color: @link-color;
          font-size: @font-size-small;
        }
      }
    }
  }
}
