//common to all buttons
.btn-dimensions {
  height: @btn-height;
}

//Common to al buttons
.btn-font {
  font-family: @font-family-base;
  font-size: 14px;
  font-weight: @font-weight-medium;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.15px;
  text-align: center;
}

.btn-borders {
  border-radius: @btn-border-radius;
}

.btn {
  padding: 6px 16px;
  text-transform: @btn-default-text-transform;
  .btn-dimensions;
  .btn-font;
  .btn-borders;
  line-height: @btn-height - 2 * 6; //2 times of padding
}

.btn-default {
  color: @btn-default-color;
  background: @btn-default-bg;
  border: 1px solid @btn-default-border;
  &:hover {
    color: @btn-default-hover-color;
    background: @btn-default-hover-bg;
  }
}

.btn-primary {
  color: @btn-primary-color;
  background: @btn-primary-bg;
  border: @btn-primary-border;
  text-decoration: @btn-primary-text-decoration;
  &:hover {
    text-decoration: @btn-primary-hover-text-decoration;
    color: @btn-primary-hover-color;
    background: @btn-primary-hover-bg;
  }
}

.btn-tertiary {
  color: @btn-tertiary-color;
  background: @btn-tertiary-bg;
  border: @btn-tertiary-hover-border;
  text-decoration: @btn-tertiary-text-decoration;
  &:hover, &:focus {
    text-decoration: @btn-tertiary-hover-text-decoration;
    color: @btn-tertiary-hover-color;
    background: @btn-tertiary-hover-bg;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &[disabled] {
      border: none;
    }
  }
}

.btn-transparent {
  color: @btn-tertiary-color;
  background: transparent;
  border: 1px solid @btn-tertiary-color;
  text-decoration: @btn-tertiary-text-decoration;
  &:hover {
    text-decoration: @btn-tertiary-hover-text-decoration;
    color: @btn-tertiary-color;
    background: transparent;
  }
}

.btn-small-text {
  font-size: @font-size-button-sm;
}

.btn-link {
  .btn-font;
  color: @btn-tertiary-bg;
  text-decoration: none;
  &:hover {
    .btn-font;
    color: @btn-tertiary-bg;
    text-decoration: none;
  }
}
.btn-no-border {
  border: 0 !important; //gave important to override the bootstrap styles
}
