  .gpay-button.short {
      width: @google-pay-btn-width;
      height: @google-pay-btn-height;
      display: inline-block;
      //border-radius: 18px;
      -webkit-appearance: -google-pay-button;

  }
