.font(@fontSize, @fontWeight, @fontFamily, @color, @line-height, @letter-spacing: 0em) {
  font-size: @fontSize;
  font-weight: @fontWeight;
  font-family: @fontFamily;
  color: @color;
  line-height: @line-height;
  letter-spacing: @letter-spacing;
}
