.form-group {
    [type='radio']:not(:checked),
    [type='radio']:checked {
      position: absolute;
      left: -9999.008px;
    }
  
    [type='radio']:not(:checked) + label,
    [type='radio']:checked + label {
      position: relative;
      cursor: pointer;
      font-weight: @font-weight-regular;
      color: @font-color-radio-label;
      padding-left: 25px;
      font-size: @font-size-radio-label;
    }
    [type='radio']:checked + label {
      font-weight: @font-weight-regular;
    }
  
    [type='radio']:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
  
    [type='radio']:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
  
    /* radio aspect */
    [type='radio']:not(:checked) + label:before,
    [type='radio']:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      border: 2px solid @border-color-radio-unchecked;
      background: @bg-color-radio;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    [type='radio']:checked + label:before {
      border: 2px solid @border-color-radio-checked;
    }
    [type='radio']:focus + label:before {
      border: 2px solid @border-color-radio-checked;
    }
  
    /* radio checked aspect */
    [type='radio']:not(:checked) + label:after,
    [type='radio']:checked + label:after {
      content: '';
      background: @border-color-radio-checked;
      position: absolute;
      width: 8px;
      height: 8px;
      left: 5px;
      border-radius: 50%;
      transition: all 0.2s;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }