#sparkle {
  .search-browse-product-tile {
    .tile-body {
      .prices {
        .product-price {
          font-family: @font-family-TradeGothicLT-Bold;
          line-height: 17px;
        }
      }
      .product-name {
        h6 {
          font-size: @font-size-base;
        }
      }
    }

    .product-id {
      font-size: @font-size-small;
      line-height: 14px;
    }

    .tile-image {
      border-color: @border-color-9;
    }
  }
}
