.radio-button-group {
  .form-check-label {
    padding-left: 5px;
  }

  .horizontal-radio {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}
