## messageSource=classpath:/gpb2binitialdata/import/coredata/contentCatalogs/b2bwhitelabelContentCatalog/messages/email-csrFraudOrderNotification_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
<html>
	<head>
	</head>
	<body bgcolor="#ffffff"
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">&nbsp;</td>
								</tr>
								<tr>
									<td valign="middle">
										<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.SiteLogo}</a>
									</td>
								</tr>
								
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
									#set ($secureAccountUrl = "${ctx.secureBaseUrl}/my-account")
									#set ($securePswdResetUrl = "${ctx.secureBaseUrl}/login/pw/request/external")
									#set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
									#if(${ctx.baseSite.Uid} == "electronics")
									#set ( $instructionsContactUs = ${ctx.messages.getMessage('instructionsContactUs_electronics', "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
									#else
									#set ($faqPage = "${ctx.baseUrl}/faq")
									#set ( $instructionsContactUs = ${ctx.messages.getMessage('instructionsContactUs', "#genHtmlLinkStartTag($faqPage)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
									#end
									
									#if($ctx.displayName.contains("|"))
										
										#set ($displayName=$ctx.displayName.replace("|"," "))
									#else
										#set ($displayName=$ctx.displayName)
									#end
									
									#if(${ctx.orderFraudType})
										#set ($fraudType=${ctx.orderFraudType})
										#set ($permissionName =$ctx.messages.getMessage($fraudType))
									#else
										#set ($permissionName ='')
									#end
										
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation')}</b>,</font></p>
										
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('reviewRequest',${ctx.order.code},$displayName,$permissionName)} </font></p>
										
														
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.complimentaryClosing}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('signature', ${ctx.baseSite.Name})}</font></p> 
														
																
								</tr>  
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="center" valign="middle">
										<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>
