## messageSource=classpath:/gpb2binitialdata/import/coredata/contentCatalogs/b2bwhitelabelContentCatalog/messages/email-orderPendingApprovalSubject_$lang.properties
${ctx.messages.getMessage('emailSubject', ${ctx.order.code})}