#brawny {
  .vx-checkout {
    font-family: @font-family-text;
    .form-group {
      label {
        color: @text-color-secondary;
      }
      input {
        border: 1px solid @border-color-secondary;
      }
    }
    .dropdown-primary {
      .dropdown {
        button {
          border: 1px solid @border-color-secondary;
        }
      }
    }
    .main-heading {
      font-weight: @font-weight-normal;
      margin: 16px 0 16px 0;
      @media screen and (min-width: @screen-sm-min) {
        margin: 24px 0 24px 0;
      }
      @media screen and (min-width: @screen-md-min) {
        margin: 32px 0 36px 0;
      }
    }
    .checkout-sections {
      .checkout-section {
        border-top: 1px solid @border-color-4;
      }
    }
    .vx-add-edit-address {
      .sub-heading-message {
        color: @text-color-sub-text;
        font-weight: @font-weight-normal;
      }
      .section-header {
        font-size: @font-size-base;
      }
    }
  }
}
