#brawny {
  .vx-shipping-address {
    a {
      color: @link-color;
      text-decoration: underline;
    }
    .sub-heading {
      color: @text-color-sub-text;
      font-weight: @font-weight-normal;
    }
    .shipping-address-title {
      .shipping-address-heading {
        .section-header {
          font-family: @font-family-heading;
        }
      }
      .shipping-method-change {
        .shipping-location-type {
          text-decoration: underline;
        }
      }
    }
  }
}
