#brawny {
  .vx-shipping-method {
    .section-header {
      font-family: @font-family-heading;
    }
    .vx-single-shipping-method {
      .editable-method {
        .section-sub-heading {
          font-family: @font-family-heading;
          font-weight: @font-weight-bold;
        }
        .radio-button-group {
          .form-check {
            .form-group {
              margin-bottom: 8px;
              .form-check-label {
                color: @text-color;
              }
            }
          }
        }
      }
      .section-sub-heading {
        font-family: @font-family-text;
        font-weight: @font-weight-normal;
      }
    }
    .shipping-method-change {
      color: @link-color;
      font-size: @font-size-base;
      text-decoration: underline;
    }
  }
  .vx-single-shipping-method {
    textarea {
      border: 1px solid @border-color-secondary;
    }
  }
}
