<div class="vx-confirm-password">
  <vx-spinner ref="verifyPasswordSpinner" :image="globals.assetsPath+'images/spinner.gif'" full-screen>
  </vx-spinner>
  <form @submit.prevent="verifyPassword">
    <div class="form-group has-feedback">
      <label for="password">{{i18n.currentPasswordLabel}}</label>
      <div class="password-container">
        <input class="mb-xs-2 form-control password" @input="updatePasswordMismatch" ref="password" type="password"
          v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@,%$*!])[A-Za-z\d@,%$*!]{8,255}$/ }"
          name="Password" v-bind:class="{'input-error': errors.has('password') || isPasswordMismatch}" v-model="password"
          :aria-label="i18n.currentPasswordLabel">
        <span class="icon-eye toggle-password" :title="showPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle" v-bind:class="{'icn-eye-collapsed': showPassword}" tabindex="0" role="button"
          :aria-label="showPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle" @keyup.enter-space="handleDeleteList($event)"
          v-on:click="togglePassword"></span>
      </div>
      <div class="mt-xs-2 " v-if="errors.has('Password') || isPasswordMismatch">
        <span class="error-msg">{{errors.first('Password')}}</span>
        <span class="error-msg" v-if="isPasswordMismatch">{{i18n.currentPasswordInvalidError}}</span>
      </div>
      <p class="mb-md-5 mb-sm-5 mb-xs-4 passwordHelp ">{{i18n.passwordInstruction}}</p>
    </div>
    <div class="mt-xs-2 " v-if="updatePasswordServerError ">
      <span class="error-msg ">{{updatePasswordServerError}}</span>
    </div>
    <button type="submit" :disabled="errors.any()" class="update-password btn btn-primary center-block modal-btn-primary-small modal-btn-xs-sticky">{{i18n.submit}}</button>
  </form>
</div>
