#sparkle {
  .vx-pdp-product-info {
    .pdp-product-description {
      h1 {
        font-family: @font-family-TradeGothicLT-Bold;
        line-height: 32px;
      }

      .price {
        font-family: @font-family-TradeGothicLT-Bold;
      }
    }
    .pdp-product-cta {
      .tile-icon {
        margin-bottom: 24px;
      }
    }
  }
}