#sparkle {
  .product-details-tab {
    &__topleftcontent {
      font-size: @font-size-large;
      line-height: 24px;
    }
    ul {
      font-size: @font-size-large;
      line-height: 24px;
    }
  }
}