#sparkle {
  .vx-tab-container {
    .nav-tabs {
      &>li.active {
        &>a {
          font-family: @font-family-TradeGothicLT-Bold;
        }
      }
    }
    .tab-item {
      .nav-link {
        letter-spacing: @letter-spacing-default;
        line-height: 19px;
      }
    }
  }
}