<!-- 1. Google login component contains Google API which need to be loaded on ready[In created()] and to load api we
   need to provide clientID through props.
2. Google Component Contains button which by default it will be hidden
3. When we pass clientID and after getting authorised we need to call google methods to login and
   after successful login you can get basic details of the user along with authCode
4. The whole response we need to emit to parent componet [Here it is social-login-register] -->
<section class="google-login">
  <div class="google-login">
    <!-- <button type="button" class="btn btn-primary">{{i18n.googleBtnTxt}}</button> -->
  </div>
</section>
