.vx-share-item-modal {
  p {
    margin-bottom: 0px;
    color: @font-color-label-text;
    font-size: @font-size-base;
  }

  textarea {
    height: 120px;
  }

  h4 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .disclaimer {
    p {
      color: @font-color-label-text;
      font-size: @font-size-small;
      font-weight: @font-weight-regular;
      margin-bottom: 4px;
    }
    .disclaimer-line {
      a {
        font-size: @font-size-small;
      }
    }
  }

  .sender-name {
    flex: 1;
  }

  .sender-email {
    flex: 1;
  }

  .social-share {
    display: none;
  }

  .show-social-share {
    display: block;
  }

  .share-item-modal-content {
    font-weight: @font-weight-medium;
  }
  .form-group {
    margin-bottom: 4px;
  }
  .subject {
    border-radius: 0px;
    height: 48px;
  }
  .message {
    border-radius: 0px;
  }
}
