
.vx-place-order {
  .fill-information-label {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: @font-weight-regular;
  }

  @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .fill-information-label {
      width: 100%;
      float: right;
      clear: both;
    }
  }
}
