.vx-qples-form {
  .input-group {
    margin: 0 auto;
    display: block;

    @media screen and (min-width: @screen-sm-min) {
      max-width: 100%;
      margin: 0 32px;
      display: table;
    }

    @media screen and (min-width: @screen-md-min) {
      max-width: 736px;
      margin: 0 auto;
    }

    .form-control {
      height: @btn-height;
      color: @font-color-label-text;
    }

    .form-control:focus {
      border-color: @btn-tertiary-hover-bg;
    }

    .input-group-btn {
      .sign-up-btn {
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .page-title {
    font-weight: @font-weight-regular;
    font-size: @font-size-h3;
    text-align: center;
    color: @text-color;
    @media screen and (min-width: @screen-md-min) {
      font-size: @font-size-h2;
    }
  }

  .title-underline {
    display: block !important;
    border-bottom: 1px solid @border-color-9;
    margin: 0 auto 40px !important;
    width: 100px;
    padding-top: 24px;
  }

  .email-error {
    width: 200px;
    margin: 0 auto;
    padding-top: 8px;
    color: @text-color-error;
  }
}
