.vx-image-download {
  overflow: auto;
  h4 {
    font-weight: @font-weight-medium;
    margin-bottom: 16px;
    font-size: @font-size-medium
  }
  label {
    font-weight: @font-weight-regular;
    color: @text-color;
  }
  .box-container {
    margin-bottom: 0;
    padding-top: 24px;
    color: @text-color;
  }
  p {
    font-weight: @font-weight-regular;
    color: @font-color-label-text;
    margin-bottom: 0;
  }
  .disclaimer{
    p{
        color: @font-color-label-text;
        font-size: @font-size-small;
        font-weight: @font-weight-regular;
        margin-bottom: 4px;
    }
    .disclaimer-line{
      a{
        font-size: @font-size-small;
      }
    }
}
}
