.vx-download-product-info {
  h4 {
    font-weight: @font-weight-medium;
    font-size: @font-size-base;
  }

  label {
    font-weight: @font-weight-regular;
    color: @font-color-label-text;
    font-size: @font-size-base;
  }
}
