.vx-social-disconnect {
  .icon-eye {
    font-size: 24px;
  }
  .toggle-password {
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 42px;
    right: 12px;
  }
  .update-password {
    word-wrap: break-word;
    height: auto;
    min-height: 48px;
    display: block;
    white-space: normal;
  }
}
