
.vx-csv-upload {
  font-family: @font-family-base;
  .upload-info {
    font-size: @font-size-large;
  }
  .download-link {
    cursor: pointer;
    color: @font-color-nav-link;
    font-weight: @font-weight-medium;
  }
}
