.vx-edit-subscription {
  .left-section {
    border: 1px solid @btn-default-border;
    padding: 16px 24px;
  }
  .product-title > a {
    font-size: @font-size-h2;
    font-weight: @font-weight-medium;
  }
  .item-id {
    font-weight: @font-weight-light;
    color: @font-color-label-text;
    font-size: @font-size-small;
  }
  .address-text {
    font-size: @font-size-small;
    font-weight: @font-weight-light;
  }
  .address-view {
    font-weight: @font-weight-light;
  }
  h4 {
    font-weight: @font-weight-medium;
  }
  .dropdownHeading {
    color: @brand-secondary-5;
    font-weight: @font-weight-light;
  }
  .card-content-right-section {
    display: none;
  }
  .modal-body {
    padding: 15px 0 !important;
  }
  .vx-product-tile {
    .product-tile {
      border: 0px;
      border-bottom: 1px solid @btn-default-border;
    }
  }
  .edit-border {
    border-top: 1px solid @btn-default-border;
  }

  @media only screen and (max-width: @screen-xs-max) {
    .edit-border {
      border-top: none;
    }
  }
  @media only screen and (min-width: @screen-xs-min) {
    .product-title > a {
      font-size: @font-size-h4;
      font-weight: @font-weight-medium;
    }
  }
}
