.vx-product-icons {
  ul {
    list-style-type: none;
    padding: 8px 0 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      padding-right: 16px;

      span {
        color: @font-color-label-text;
        font-size: 16px;
      }
    }
  }
}
