<tfoot>
    <tr style="margin-top: 32px;background-color: #dfdfdf;">
        <td style="border-top: 1px solid #cecece;">
            <table border="0" cellspacing="0" cellpadding="0" style="padding: 24px" width="100%">
                <tr>
                    <td align="left" valign="middle" style="border-collapse:collapse" class="footer-m-block">
                        <table width="100%">
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" style="color:#0074E4;font-weight:500;font-size:14px;padding:10px,display:inline-block;text-decoration:none;outline:0;outline:none;border:0;border:none">Contact
                                        Us</a>
                                </td>
                                <td class="copyright-text" style="color: #747678;font-size: 14px;" align="left">&copy;
                                    2018 | Georgia Pacific</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tfoot>
