<table class="main" width="100%">
  <tr>
    <td class="container">
      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
          <td style="color: #222222; font-size: 24px;	font-weight: 400; padding-bottom: 16px">
            Order Confirmation
          </td>
        </tr>
        <tr>
          <td width="100%" style="color: #222222; font-size: 14px;	font-weight: 400; padding-bottom: 24px">
            Thank you for shopping with us. You ordered 8 of products and we'll notify you when your items ship.
          </td>
        </tr>
        <tr>
          <td style="color: #222222; font-size: 16px;	font-weight: 400; padding-bottom:24px;">
            Order #123467-97862
          </td>
        </tr>
        <tr width="100%">
          <td class="order" style="color: #222222; font-size: 12px; vertical-align: text-top;">
            <span style="font-weight: 500; padding-bottom:8px;">Order Placed</span>
            <span style="font-weight: 400;">Jan 20, 2018</span>
          </td>
          <td class="bill" style="color: #222222; font-size: 12px; vertical-align: text-top;">
            <span style="font-weight: 500; padding-bottom:8px;">Billed To</span>
            <span style="font-weight: 400; line-height: 15px;">
              Peter Williams
              <br> AMEX
            </span>
          </td>
          <td class="lease" style="color: #222222; font-size: 12px; vertical-align: text-top;">
            <span style="font-weight: 500; padding-bottom:8px;">Lease Agreement</span>
            <span style="font-weight: 400;padding-bottom:16px;">Lease agreement name</span>
            <span style="font-weight: 400; padding-bottom:8px;">Download</span>
            <span>
              <a href="#">English</a> |
              <a href="#">French</a> |
              <a href="#">Spanish</a>
            </span>
          </td>
        </tr>
      </table>
      <table class="shipping-info" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE;">
        <tr>
          <td class="shipping" style="color: #222222; vertical-align: text-top;">
            <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;	font-weight: 500;">Shipped To</span>
            <span class="xs-pb-8 sm-pb-8" style="font-size: 12px;	font-weight: 400;">Peter Williams
              <br> 123 Pinegrove Rd, Denver CO, 80221</span>
            <span style="color: #747678; font-size: 12px;	font-weight: 400;">(Able to receive pallet)</span>
          </td>
          <td class="delivery-method" style="color: #222222; vertical-align: text-top;">
            <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;	font-weight: 500;">Delivery Method</span>
            <span style="font-size: 12px;	font-weight: 400;">
              Standard
            </span>
          </td>
        </tr>
        <tr>
          <td class="delivery-instruction" style="color: #222222; vertical-align: text-top;">
            <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;	font-weight: 500;">Delivery Instructions</span>
            <span style="font-size: 12px;	font-weight: 400;">
              Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.
            </span>
          </td>
          <td class="install" style="color: #222222; vertical-align: text-top;">
            <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;	font-weight: 500;">Installation</span>
            <span style="font-size: 12px;	font-weight: 400;">
              10/11/2018 | Morning
            </span>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE; border-top:none" class="xs-padding sm-padding">
        <tr width="100%">
          <td class="product-img" style="vertical-align: top;">
            <img src="" />
          </td>
          <td class="product" style="vertical-align: top;">
            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
              <tr>
                <td class="product-data" style="color: #222222; vertical-align: text-top;">
                  <span class="xs-pb-8 sm-pb-8" style="font-size: 14px;	font-weight: 500;">
                    <a style="color: #167BB4;" href="">GP PRO Ultra® Back-of-House Napkin</a>
                  </span>
                  <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;	font-weight: 400;">ITEM ID 1234 | CMIR 1234</span>
                  <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;	font-weight: 400;">Quantity: 3</span>
                  <span class="xs-pb-16 sm-pb-16" style="font-size: 12px;	font-weight: 400;">Promo: ASDF1234</span>
                </td>
                <td class="product-price" style="font-size: 24px;	font-weight: 500; color: #222222; vertical-align: bottom;">
                  $498.00
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <table class="order-summary" cellpadding="0" cellspacing="0" style="float: right; color: #222222;	background-color: #FAFAFA; padding:24px; float:right">
      <tr>
        <td colspan="2" style="font-size: 21px;	font-weight: 400; padding-bottom:24px">
          Order Summary
        </td>
      </tr>
      <tr>
        <td style="font-size: 16px;	font-weight: 400; padding-bottom:16px">
          Cart Subtotal
        </td>
        <td style="font-size: 16px;	font-weight: 500; text-align: end; padding-bottom:16px">
          $2,866.00
        </td>
      </tr>
      <tr>
        <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
          Shipping
        </td>
        <td style="font-size: 16px;	font-weight: 500; text-align: end;padding-bottom:16px">
          $70.00
        </td>
      </tr>
      <tr>
        <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
          Total Savings
        </td>
        <td style="font-size: 16px;	font-weight: 500; color: #417505; text-align: end;padding-bottom:16px">
          - $40.00
        </td>
      </tr>
      <tr>
        <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
          Tax
        </td>
        <td style="font-size: 16px;	font-weight: 500; text-align: end;padding-bottom:16px">
          $10.00
        </td>
      </tr>
      <tr>
        <td colspan="2" style="font-size: 12px;	font-weight: 400; padding-bottom:4px">
          You've requested installation services.
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding-bottom:16px">
          <a style="color: #167BB4; font-size: 14px;	font-weight: 500;" href="#">Learn More</a>
        </td>
      </tr>
      <tr>
        <td style="font-size: 16px;	font-weight: 500; padding: 19px 0; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE">
          Total
        </td>
        <td style="font-size: 24px;	font-weight: 500; text-align: end; padding: 19px 0; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE">
          $2,846.00
        </td>
      </tr>
      <tr>
        <td colspan="2" style="color: #747678; font-size: 12px;	font-weight: 400; padding-bottom:16px; padding-top:24px;">
          Please contact customer service at 123-456-7890 for questions regarding your installation.
        </td>
      </tr>
      <tr>
        <td colspan="2" style="color: #747678; font-size: 12px;	font-weight: 400;">
          For questions about your order, please contact customer service at 123-456-7890.
        </td>
      </tr>
    </table>
  </tr>
  <tr>
    <td>
      <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
        <tr>
          <td class="warranty" style="color: #222222; font-size: 16px;	font-weight: 400;">
            Thanks for choosing to order a Dispenser, We know you will be happy with the item, and we are reminding you that the item
            is covered under
            <a style="color: #167BB4;" href="#">warranty</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
