<tbody class="main">
    <tr>
      <td class="container">
        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
          <tr>
            <td style="color: #222222; font-size: 21px;	font-weight: 400; padding: 0 24px 16px 0;">
              Order Confirmation
            </td>
          </tr>
          <tr>
            <td style="color: #222222; font-size: 14px;	font-weight: 400; padding: 0 24px 16px 0;">
              Thank you for shopping with us. You ordered
              <span style="display: inline; font-weight: 500;">XXX</span> of products and we'll notify you when your items ship.
            </td>
          </tr>
        </table>
        <table class="order-summary " cellpadding="0 " width="100% " cellspacing="0 " style="color:#222222; background-color: #FAFAFA; padding:24px;margin-left:0; ">
          <tr>
            <td class="order-details" width="60%" colspan="2">
              <table width="100%">
                <tr width="100%">
                  <td colspan="2 " style="font-size: 21px; font-weight: 400; padding-bottom:24px ">
                    Order Summary
                  </td>
                </tr>
                <tr>
                  <td width="100%" style="color: #222222; font-size: 16px; font-weight: 400; padding-bottom:24px; ">
                    Order #123467-97862
                  </td>
                </tr>
                <tr class="order-row">
                  <td style="color: #222222; font-size: 16px; font-weight: 400; padding-bottom:24px; ">
                    <span style="font-weight: 500; padding-bottom:8px;display:block;">Order Placed</span>
                    <span style="font-weight: 400;display:block;">Jan 20, 2018</span>
                  </td>
                </tr>
                <tr class="bill-row">
                  <td style="color: #222222; font-size: 16px; font-weight: 400; padding-bottom:24px; ">
                    <span style="font-weight: 500; line-height: 15px;display:block;padding-bottom:8px; ">Billed To</span>
                    <span style="font-weight: 400; line-height: 15px;display:block;padding-bottom:8px; ">Peter Williams</span>
                      <span style="font-weight: 400; line-height: 15px;display:block;padding-bottom:8px; "> AMEX</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="cart" style="padding-top: 24px;" width="40%" colspan="2">
              <table width="100%" style="border-collapse: collapse;">
                <tr width="100%">
                  <td style="color: #222222; font-size: 16px; font-weight: 400; padding-bottom:24px  ">
                    Cart Subtotal
                  </td>
                  <td style="color: #222222; text-align:right; font-size: 16px; font-weight:500; padding-bottom:24px">
                    $2,866.00
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 16px; font-weight: 400;padding-bottom:16px ">
                    Shipping
                  </td>
                  <td style="font-size: 16px; font-weight: 500; text-align: right;padding-bottom:16px ">
                    $70.00
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 16px; font-weight: 400;padding-bottom:16px ">
                    Total Savings
                  </td>
                  <td style="font-size: 16px; font-weight: 500; color: #417505; text-align: right;padding-bottom:16px ">
                    - $40.00
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 16px; font-weight: 400;padding-bottom:16px ">
                    Tax
                  </td>
                  <td style="font-size: 16px; font-weight: 500; text-align: right;padding-bottom:16px ">
                    $10.00
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 16px; font-weight: 500; padding: 19px 0; border-top: 1px solid #CECECE;">
                    Total
                  </td>
                  <td style="font-size: 24px; font-weight: 500; text-align: right; padding: 19px 0;border-top: 1px solid #CECECE;">
                    $2,846.00
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="shipping-info" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE;margin-top: 32px;padding: 24px;">
            <tr>
              <td class="shipping" style="color: #222222;vertical-align: text-top;border-collapse: collapse;" colspan="2" width="50%">
                <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;font-weight: 500;display: block;padding-bottom: 16px;">Shipped To</span>
                <span class="xs-pb-8 sm-pb-8" style="font-size: 12px;font-weight: 400;display: block;padding-bottom: 8px;">Peter Williams</span>
                <span class="xs-pb-8 sm-pb-8" style="font-size: 12px;font-weight: 400;display: block;padding-bottom: 8px;"> 123 Pinegrove Rd, Denver CO, 80221</span>
                <span style="color: #747678;font-size: 12px;font-weight: 400;display: block;">(Able to receive pallet)</span>
              </td>
            <td class="delivery-method" style="color: #222222;vertical-align: text-top;border-collapse: collapse;">
              <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;font-weight: 500;display: block;padding-bottom: 16px;">Delivery Method</span>
              <span style="font-size: 12px;font-weight: 400;display: block;">
                  Standard
                </span>
              </td>
            </tr>
            <tr>
              <td class="delivery-instruction" style="color: #222222;vertical-align: text-top;border-collapse: collapse;padding-top: 32px;" colspan="2" width="50%">
              <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;font-weight: 500;display: block;padding-bottom: 16px;">Delivery Instructions</span>
              <span style="font-size: 12px;font-weight: 400;display: block;">
                  Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.
                </span>
              </td>
            </tr>
          </table>
        <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE;border-top:none;" class="xs-padding sm-padding">
          <tr width="100%">
            <td class="product-img" style="vertical-align: top;">
              <img src="" />
            </td>
            <td class="product" style="vertical-align: top;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="product-data" style="color: #222222; ">
                    <span class="xs-pb-8 sm-pb-8" style="font-size: 14px; display:block;	font-weight: 500;">
                      <a style="color: #167BB4;text-decoration:none" href="" >GP PRO Ultra &copy; Back-of-House Napkin</a>
                    </span>
                    <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; display:block;	font-weight: 400;">ITEM ID 1234 | CMIR 1234</span>
                    <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; display:block;	font-weight: 400;">Quantity: 3</span>
                    <span class="xs-pb-16 sm-pb-16" style="font-size: 12px; display:block;font-weight: 400;">Promo: ASDF1234</span>
                    <span class="xs-pb-16 sm-pb-16 " style="color: #747678; font-size: 12px; display:block; font-weight: 400; ">This item is a gift</span>
                    <span class="xs-pb-8 sm-pb-8 " style="font-size: 14px; font-weight: 500; display:block; ">Gift Message</span>
                    <span class="xs-pb-16 " style="font-size: 12px; font-weight: 400; ">Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.
                      Cras mattis consectetur purus sit amet fermentum.</span>
                  </td>
                  <td class="product-price" style="font-size: 24px; font-weight: 500; color: #222222; ">
                    <div>
                      <span style="display:block;"> $498.00 </span>
                      <a href="" style="border: 1px solid #F7BD2B;height: 48px;width: 166.18px;margin-top: 14px;display: inline-block;font-weight: 500;font-size: 16px;background-color: #F7BD2B;text-align: center;text-decoration: none;color: #222222;line-height: 48px;">BUY AGAIN</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE;border-top:none;" class="xs-padding sm-padding">
          <tr width="100%">
            <td class="product-img" style="vertical-align: top;">
              <img src="" />
            </td>
            <td class="product" style="vertical-align: top;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="product-data" style="color: #222222; ">
                    <span class="xs-pb-8 sm-pb-8" style="font-size: 14px; display:block;	font-weight: 500;">
                      <a style="color: #167BB4;text-decoration:none" href="" >GP PRO Ultra &copy; Back-of-House Napkin</a>
                    </span>
                    <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; display:block;	font-weight: 400;">ITEM ID 1234 | CMIR 1234</span>
                    <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; display:block;	font-weight: 400;">Quantity:3</span>
                    <span class="xs-pb-16 sm-pb-16" style="font-size: 12px; display:block; font-weight: 400;">Promo:ASDF1234</span>

                  </td>
                  <td class="product-price" style="font-size: 24px;font-weight: 500; color: #222222; ">
                    <div>
                      <span style="display:block;"> $498.00 </span>
                      <a href="" style="border: 1px solid #F7BD2B;height: 48px;width: 166.18px;margin-top: 14px;display: inline-block;font-weight: 500;font-size: 16px;background-color: #F7BD2B;text-align: center;text-decoration: none;color: #222222;line-height: 48px;">BUY AGAIN</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="shipping-info" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE;margin-top: 32px;padding: 24px;">
          <tr>
            <td class="shipping" style="color: #222222;vertical-align: text-top;border-collapse: collapse;" colspan="2" width="50%">
              <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;font-weight: 500;display: block;padding-bottom: 16px;">Shipped To</span>
              <span class="xs-pb-8 sm-pb-8" style="font-size: 12px;font-weight: 400;display: block;padding-bottom: 8px;">Peter Williams</span>
              <span class="xs-pb-8 sm-pb-8" style="font-size: 12px;font-weight: 400;display: block;padding-bottom: 8px;"> 123 Pinegrove Rd, Denver CO, 80221</span>
              <span style="color: #747678;font-size: 12px;font-weight: 400;display: block;">(Able to receive pallet)</span>
            </td>
          <td class="delivery-method" style="color: #222222;vertical-align: text-top;border-collapse: collapse;">
            <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;font-weight: 500;display: block;padding-bottom: 16px;">Delivery Method</span>
            <span style="font-size: 12px;font-weight: 400;display: block;">
                Standard
              </span>
            </td>
          </tr>
          <tr>
            <td class="delivery-instruction" style="color: #222222;vertical-align: text-top;border-collapse: collapse;padding-top: 32px;" colspan="2" width="50%">
            <span class="xs-pb-8 sm-pb-16" style="font-size: 12px;font-weight: 500;display: block;padding-bottom: 16px;">Delivery Instructions</span>
            <span style="font-size: 12px;font-weight: 400;display: block;">
                Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.
              </span>
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #CECECE;border-top:none;" class="xs-padding sm-padding">
          <tr width="100%">
            <td class="product-img" style="vertical-align: top;">
              <img src="" />
            </td>
            <td class="product" style="vertical-align: top;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="product-data" style="color: #222222; ">
                    <span class="xs-pb-8 sm-pb-8" style="font-size: 14px; display:block;	font-weight: 500;">
                      <a style="color: #167BB4;text-decoration:none" href="" >GP PRO Ultra &copy; Back-of-House Napkin</a>
                    </span>
                    <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; display:block;	font-weight: 400;">ITEM ID 1234 | CMIR 1234</span>
                    <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; display:block;	font-weight: 400;">Quantity:3</span>
                    <span class="xs-pb-16 sm-pb-16" style="font-size: 12px; display:block; font-weight: 400;">Promo:ASDF1234</span>
                  </td>
                  <td class="product-price" style="font-size: 24px;font-weight: 500; color: #222222; ">
                    <div>
                      <span style="display:block;"> $498.00 </span>
                      <a href="" style="border: 1px solid #F7BD2B;height: 48px;width: 166.18px;margin-top: 14px;display: inline-block;font-weight: 500;font-size: 16px;background-color: #F7BD2B;text-align: center;text-decoration: none;color: #222222;line-height: 48px;">BUY AGAIN</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
