<table width="100%">
  <tr>
    <td class="container">
      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
          <td style="color: #222222; font-size: 21px;	font-weight: 400; padding-bottom: 24px">
            Order Rejected
          </td>
        </tr>
        <tr>
          <td width="100%" style="color: #222222; font-size: 16px;	font-weight: 400; padding-bottom: 24px">
            Your store name order has been rejected.
          </td>
        </tr>
        <tr>
          <td width="100%" style="color: #222222; font-size: 16px;	font-weight: 400; padding-bottom: 24px">
            ORDER # - 123467-97862
          </td>
        </tr>
        <tr>
          <td width="50%" style="display: inline-block; vertical-align: top;">
            <span style="color: #222222; font-size: 14px;	font-weight: 500; margin-bottom:8px;">Order Placed</span>
            <span style="color: #222222; font-size: 12px;	font-weight: 400;">Jan 20, 2018</span>
          </td>
          <td width="50%" style="display: inline-block">
            <span style="color: #222222; font-size: 14px;	font-weight: 500; margin-bottom:8px;">Reason for Rejection</span>
            <span style="color: #222222; font-size: 12px;	font-weight: 400; word-wrap: break-word;">Lorem Ipsum is
              simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
              type specimen book. It has survived not only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum</span>
          </td>
        </tr>
        <tr>
          <td class="sm-pt-32 xs-pt-0" style="	color: #222222;	font-size: 14px;	font-weight: 500; padding: 8px 0;">
            ITEMS IN THIS ORDER
          </td>
        </tr>
        <tr>
          <td class="sm-pb-16 xs-pb-16" style="color: #222222; font-size: 12px;	font-weight: 400;">
            If you need help, please contact <a href="">customer care.</a>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" width="100%" class="xs-padding sm-padding product-tile">
        <tbody>
          <tr width="100%">
            <td class="product-img" style="vertical-align: top;">
              <img src="">
            </td>
            <td class="product" style="vertical-align: top;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td class="product-data" style="color: #222222; ">
                      <span class="xs-pb-8 sm-pb-8" style="font-size: 14px;	font-weight: 500;">
                        <a style="color: #167BB4;" href="">GP PRO Ultra® Back-of-House Napkin</a>
                      </span>
                      <span class="xs-pb-8 sm-pb-8" style="color: #747678;	font-size: 12px;	font-weight: 400;">ITEM ID
                        1234</span>
                      <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; font-weight: 400;">Quantity: 3
                      </span>
                      <span class="xs-pb-16 sm-pb-16" style="font-size: 12px; font-weight: 400;">Item has been
                        customized</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table cellpadding="0" cellspacing="0" width="100%" class="xs-padding sm-padding product-tile">
        <tbody>
          <tr width="100%">
            <td class="product-img" style="vertical-align: top;">
              <img src="">
            </td>
            <td class="product" style="vertical-align: top;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td class="product-data" style="color: #222222; ">
                      <span class="xs-pb-8 sm-pb-8" style="font-size: 14px;	font-weight: 500;">
                        <a style="color: #167BB4;" href="">GP PRO Ultra® Back-of-House Napkin</a>
                      </span>
                      <span class="xs-pb-8 sm-pb-8" style="color: #747678;	font-size: 12px;	font-weight: 400;">ITEM ID
                        1234</span>
                      <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; font-weight: 400;">Quantity: 3
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table cellpadding="0" cellspacing="0" width="100%" class="xs-padding sm-padding product-tile">
        <tbody>
          <tr width="100%">
            <td class="product-img" style="vertical-align: top;">
              <img src="">
            </td>
            <td class="product" style="vertical-align: top;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td class="product-data" style="color: #222222; ">
                      <span class="xs-pb-8 sm-pb-8" style="font-size: 14px;	font-weight: 500;">
                        <a style="color: #167BB4;" href="">GP PRO Ultra® Back-of-House Napkin</a>
                      </span>
                      <span class="xs-pb-8 sm-pb-8" style="color: #747678;	font-size: 12px;	font-weight: 400;">ITEM ID
                        1234</span>
                      <span class="xs-pb-8 sm-pb-16" style="font-size: 12px; font-weight: 400;">Quantity: 3
                      </span>
                      <span class="xs-pb-16 sm-pb-16" style="font-size: 12px; font-weight: 400;">Subscription :
                        frequency</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="order-summary" cellpadding="0" cellspacing="0" style="color: #222222;	background-color: #FAFAFA; padding:24px;">
        <tr>
          <td colspan="2" style="font-size: 21px;	font-weight: 400; padding-bottom:24px">
            Order Summary
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px;	font-weight: 400; padding-bottom:16px">
            Subtotal (# Items)
          </td>
          <td style="font-size: 16px;	font-weight: 500; text-align: end; padding-bottom:16px">
            $2,866.00
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
            Shipping
          </td>
          <td style="font-size: 16px;	font-weight: 500; text-align: end;padding-bottom:16px">
            $70.00
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
            Shipping Discount
          </td>
          <td style="font-size: 16px;	font-weight: 500; text-align: end;padding-bottom:16px">
            $70.00
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
            My Savings
          </td>
          <td style="font-size: 16px;	font-weight: 500; color: #417505; text-align: end;padding-bottom:16px">
            - $40.00
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px;	font-weight: 400;padding-bottom:16px">
            Tax
          </td>
          <td style="font-size: 16px;	font-weight: 500; text-align: end;padding-bottom:16px">
            $10.00
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 12px;	font-weight: 400; padding-bottom:4px">
            <span>
              You've requested installation services.
            </span>
            <span>
              This order contains a gift.
            </span>
          </td>
        </tr>
        <tr>
          <td style="padding-bottom:16px">
            <a style="color: #167BB4; font-size: 14px;	font-weight: 500;" href="#">Learn More</a>
          </td>
        </tr>
        <tr>
          <td style="font-size: 16px;	font-weight: 500; padding: 19px 0; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE">
            Total
          </td>
          <td style="font-size: 24px;	font-weight: 500; text-align: end; padding: 19px 0; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE">
            $2,846.00
          </td>
        </tr>
        <tr>
          <td colspan="2" style="color: #747678; font-size: 12px;	font-weight: 400; padding-bottom:16px; padding-top:24px;">
            Please contact customer service at 123-456-7890 for questions regarding your installation.
          </td>
        </tr>
        <tr>
          <td colspan="2" style="color: #747678; font-size: 12px;	font-weight: 400;">
            For questions about your order, please contact customer service at 123-456-7890.
          </td>
        </tr>
      </table>
      <span style="color: #747678; font-size: 12px;	font-weight: 400; padding-top:16px">Lorem ipsum dolor sit amet,
        consectetur
        adipiscing elit. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor
        fringilla.</span>
    </td>
  </tr>

</table>
