<div class="vx-update-password">
  <form @submit.prevent="submitPassword">
    <!-- Heading data is a configarable property which can be passed as props from parent component -->
    <vx-spinner ref="updateProfileSpinner" :image="globals.assetsPath+'images/spinner.gif'" full-screen>
    </vx-spinner>
    <div class="mb-md-5 mb-sm-5 mb-xs-4 form-group has-feedback">
      <label for="password" :aria-hidden="isDeviceAndroid()">{{i18n.currentPasswordLabel}}</label>
      <input class="mb-xs-2 form-control password" @input="updatePasswordMismatch" ref="oldPassword" maxlength="255"
        type="password" v-validate="{required: true,
              regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@,%$*!])[A-Za-z\d@,%$*!]{8,255}$/ }"
        name="oldPassword" v-bind:class="{'input-error': errors.has('oldPassword') || isPasswordMismatch}" v-model="currentPasswordUpdateText"
        @focus="focusInButStateChange" :aria-label="i18n.currentPasswordLabel">
      <span class="icon-eye toggle-password" :title="showOldPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle" v-bind:class="{'icn-eye-collapsed': showOldPassword }" tabindex="0" role="button"
        :aria-label="showOldPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle" @keyup.enter-space="togglePassword('oldPassword')"
        v-on:click="togglePassword('oldPassword')"></span>
      <div class="mt-xs-2" v-if="errors.has('oldPassword') || isPasswordMismatch || isNewPassword" >
        <span class="error-msg">{{errors.first('oldPassword')}}</span>
        <span class="error-msg" v-if="isNewPassword">{{i18n.newPasswordResetError}}</span>
      </div>
    </div>
    <div class="mb-md-5 mb-sm-5 mb-xs-4 form-group has-feedback">
      <label for="password" :aria-hidden="isDeviceAndroid()">{{i18n.newPasswordLabel}}</label>
      <input class="mb-xs-2 form-control password" ref="newPassword" maxlength="255" type="password" v-validate="{ required: true,
                regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@,%$*!])[A-Za-z\d@,%$*!]{8,255}$/ }"
        name="newPassword" :aria-label="i18n.newPasswordLabel" v-bind:class="{'input-error': errors.has('newPassword')}"
        v-model="newPasswordUpdateText" @focus="focusInButStateChange">
      <span class="icon-eye toggle-password" :title="showNewPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle"
        tabindex="0" role="button" :aria-label="showNewPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle"
        v-bind:class="{'icn-eye-collapsed': showNewPassword }" v-on:click="togglePassword('newPassword')"
        @keyup.enter-space="togglePassword('newPassword')"></span>
      <div class="mt-xs-2" v-if="errors.has('newPassword')">
        <span class="error-msg">{{errors.first('newPassword')}}</span>
      </div>
      <p class="mb-md-5 mb-sm-5 mb-xs-4 password-help" role="text">{{i18n.passwordInstruction}}</p>
    </div>
    <div class="mt-xs-2" v-if="updatePasswordServerError">
      <span class="error-msg">{{updatePasswordServerError}}</span>
    </div>
    <button type="submit" :disabled="errors.any()" class="center-block btn btn-primary modal-btn-primary-small modal-btn-xs-sticky"
      :aria-label="i18n.savePasswordButton">{{i18n.savePasswordButton}}</button>
  </form>
</div>
