

.vx-update-password {
  overflow-y: auto;
  .form-group{
    label{
      font-weight: @font-weight-regular;
    }
  }
  .error-msg {
    display: inline;
    font-weight: @font-weight-regular;
    font-size: @font-size-small;
  }

  .error-msg,
  .error-icon {
    color: @font-color-error;
  }

  .icon-eye {
    font-size: 24px;
  }
  .toggle-password {
    color: @brand-secondary-5;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 42px;
    right: 12px;
  }
  .password-help{
    color: @brand-secondary-5;
    font-weight: @font-weight-regular;
    font-size: @font-size-small;
  }
  @media only screen and (max-width: @screen-xs-max) {
    .update-password-title {
      font-size: @font-size-large;
    }
  }
}
