.forgot-password {
  .error-msg,
  .error-icon {
    color: @font-color-error;
    font-size: @font-size-small;
    font-weight: @font-weight-regular;
  }
  div:empty {
    display: none;
  }
  h3:empty {
    display: none;
  }
  form {
    padding-bottom: 80px;
  }
  .email-description {
    letter-spacing: @letter-spacing-default;
  }

  .link-expired {
    display: flex;
    // align-items: center;
    justify-content: center;
  }
  .response-label {
    font-size: @font-size-large;
    letter-spacing: @letter-spacing-default;
    font-weight: @font-weight-regular;
  }

  .response-description {
    letter-spacing: @letter-spacing-default;
  }
}
