<!-- Forgot password component functionaity is
1. When user clicks on forgot password in login page he will be propted with modal
2. Modal contains heading, description, email address input and Reset password button
3. When user enters his valid email address and clicks on reset button
   we need to pass his email address in for got password ajax request.
4. After successful response we need to display success message or
  on error response we need to display that error -->

<section class="forgot-password" :class="{'expiry-forgot-password':isExpiry}">
  <vx-spinner ref="spinner" :image="globals.assetsPath+'images/spinner.gif'" full-screen>
  </vx-spinner>
  <h3 :class="{'mt-xs-5' : !isExpiry, 'mt-sm-5 mt-xs-0': isExpiry}" class="mb-xs-4 email-heading" v-if="i18n.passwordHeading">{{i18n.passwordHeading}}</h3>
  <form @submit.prevent="resetPassword" v-show="!resetButtonClicked" :class="{'expiry-forgot-password-form':isExpiry}">
    <!-- Heading, descritions and button value are configarable property which can be passed as props from parent component -->
    <p class="mb-xs-0 email-description" :class="{ 'error-msg': isExpiry}" role="text">{{i18n.passwordDescription1}}</p>
    <p class="mb-xs-4 email-description" :class="{ 'error-msg': isExpiry}" role="text">{{i18n.passwordDescription2}}</p>
    <p class="mt-xs-4 mb-xs-4 social-description" v-if="globals.isB2C() && !globals.isEmployeeStore()" role="text">{{i18n.passwordSocialDescription}}</p>
    <div class="form-group mb-xs-0">
      <label :aria-hidden="isDeviceAndroid()">{{i18n.emailLabel}}</label>
      <input type="text" maxlength="80" v-bind:class="{'input-error': errors.has('email')}" class="form-control"
        v-model="emailAddress" name="email" v-validate="'required|email'" @focus="emailFocusIn" aria-describedby="forgot_email_msg"
        :aria-label="i18n.emailLabel">
      <div class="mt-xs-2" v-show="errors.has('email')" :aria-hidden="!errors.has('email')">
        <span class="error-msg" id='forgot_email_msg'>{{errors.first('email')}}</span>
      </div>
    </div>
    <div class="mt-xs-2" v-if="passwordServerError">
      <span class="error-msg">{{passwordServerError}}</span>
    </div>
    <div class="px-xs-0 col-xs-12 d-flex justify-content-center" :class="{ 'link-expired': !isExpiry}">
      <button type="submit" :disabled="errors.any()" :class="{'modal-btn-xs-sticky': !isExpiry}" class="mt-xs-5 reset-password btn btn-primary modal-btn-primary-medium">
        {{i18n.passwordButtonValue}}</button>
    </div>
  </form>
  <!-- Success message also dynamic which depends on response -->
  <div class="success-msg" v-show="resetButtonClicked">
    <div class="pb-xs-3 response-label">{{forgotPasswordLabel}}</div>
    <p class="response-description">{{forgotPasswordStatus}}</p>
  </div>
</section>
