#copper-crane {
  .vx-slider {
    width: 93%;
  }
}

@media screen and (max-width: @screen-sm-max) {
  #copper-crane {
    .vx-slider {
      width: 88%;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  #copper-crane {
    .vx-slider {
      width: 85%;
    }
  }
}
