#gp-employee {
  .vx-edit-personal-details {
    .form-group {
      margin-bottom: 8px !important;
    }
    .phone-number {
      border-radius: @border-radius-input;
      width: 100%;
    }
    button {
      margin-top: 40px !important;
    }
  }
}
