#copper-crane {
  .vx-add-payment-form {
    & > h3 {
      font-size: @font-size-small;
      font-family: @font-family-cocogoose-light;
    }
    .submit-btn-block {
      .payment-submit-btn {
        color: @btn-primary-color;
      }
    }
    .cvv-query {
      a {
        text-decoration: underline;
        &:hover,
        &:focus {
          color: @link-color;
        }
      }
    }
    .label-text,
    .form-check-label {
      font-size: @font-size-small;
    }
    .billing-address {
      h3 {
        font-size: @font-size-medium;
        font-family: @font-family-queulat-bold;
      }
    }
    .title {
      font-family: @font-family-queulat-bold;
    }
  }
}
