#copper-crane {
  .flyout-banner {
    .text-container {
      font-size: @font-size-small;
    }
    .error-icon-color {
      color: @flyout-error-icon-color;
    }
    .success-icon-color {
      color: @flyout-success-icon-color;
    }
  }
}
