#copper-crane {
  .vx-profile-card {
    .card-details-container {
      .card-heading h4,
      .card-item {
        font-size: @font-size-small;
        margin-bottom: 14px;
      }
      .card-heading h4 {
        font-family: @font-family-cocogoose-light;
        // font-family: @font-family-cocogoose-ulight;
        margin-bottom: 18px;
      }
    }
    .add-card {
      .link-large {
        font-size: @font-size-medium;
        text-decoration: underline;
      }
    }
  }
}
