#copper-crane {
  .vx-product-tile {
    .product-image {
      height: 142px;
      width: 142px;
      padding: 0!important;
      @media screen and (max-width: @screen-xs-max) {
        height: 72px;
        width: 72px;
      }
    }
  }
}
