#copper-crane {
  .vx-payment-methods {
    padding-top: 32px!important;
    h1.top-heading {
      margin-top: 0;
      margin-bottom: 16px;
    }
    .icon-edit,
    .icon-trash {
      font-size: @font-icon-size;
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    .vx-payment-methods {
      padding-top: 24px!important;
    }
  }
}
