#copper-crane {
  .vx-ymarket-form {
    .authorable-text {
      h2 {
        font-size: @font-size-h3;
      }
      .form-content {
        font-size: @font-size-small;
      }
    }
    .sapCpDropDown {
      font-size: @font-size-small;
      color: @text-color;
    }
    .sapCpTextWidget {
      p {
        font-size: @font-size-small;
        text-align: left!important;
      }
    }
  }
}
