

.vx-communication-preferences {
  h4 {
    font-weight: @font-weight-medium;
  }
  h5 {
    font-weight: @font-weight-regular;
  }

  .dropdown .dropdown-menu {
    position: relative;
  }
  .checkbox-container {
    display: block;
  }
}
