#copper-crane {
  .vx-image-text {
    .view-site-content-vx-text-tile {
      h3 {
        font-size: @font-size-large;
        font-weight: bold;
        line-height: 24px;
      }
      p {
        font-size: @font-size-large;
        font-weight: @font-weight-light;
        letter-spacing: @letter-spacing-slashed;
        line-height: 24px;
      }
    }

    a {
      &.cta-text {
        font-size: @font-size-small;
        font-weight: @font-weight-light;
        letter-spacing: @letter-spacing-slashed;
        line-height: 14px;
      }
    }
    &.image-text-white {
      h3 {
        font-size: 21px;
        font-weight: bold;
        line-height: 31px;
      }
      p {
        font-size: @font-size-small;
        font-weight: @font-weight-light;
        letter-spacing: @letter-spacing-default;
        line-height: 18px;
      }
    }
  }
}
