#gp-employee {
  .vx-500-page {
    padding: 0 16px!important;
    .error-container {
      background-color: @card-layout-bg-color;
      border-radius: @card-layout-border-radius;
    }
    .error-heading {
      margin-bottom: 16px;
      font-weight: @font-weight-bold;
    }
    .error-msg-container {
      margin-bottom: 8px;
    }
    .immediate-assitance {
      font-size: @font-size-large;
      a {
        color: #006EB4;
        font-weight: @font-weight-regular;
      }
    }
  }
}
