#innovia {
  .search-browse-product-tile {
    .tile-body {
      .product-name {
        flex-grow: 1;
      }

      .product-id {
        font-size: @font-size-small;
        font-family: @font-family-montserrat;
      }

      .prices {
        .product-price {
          font-size: @font-size-medium;
          font-family: @font-family-montserrat;

          &.product-slashed-price {
            font-size: @font-size-small;
            color: @font-color-label-text;
          }
        }
      }
    }
  }
}
