

.vx-save-cart {
  overflow-y: auto;
  label {
    font-size: @font-size-medium !important;
    font-weight: @font-weight-regular;
    letter-spacing: @letter-spacing-default;
  }
  .error-msg,
  .error-icon {
    color: @font-color-error;
  }
}
