#copper-crane {
  .vx-order-details {
    .order-number {
      font-family: @font-family-queulat-regular;
    }
    & > .d-flex.flex-row.flex-wrap {
      .order-info-block {
        .order-info-heading {
          font-family: @font-family-queulat-bold;
          margin-bottom: 8px;
        }
      }
      span.sub-title {
        font-family: @font-family-queulat-bold;
      }
      .multi-shipping-details,
      .tracking-details {
        .order-info-heading {
          font-family: @font-family-queulat-bold;
        }
      }
      .vx-product-tile {
        .product-title a {
          color: @link-color;
        }
        .product-title a,
        .product-price .product-current-price {
          font-family: @font-family-queulat-bold;
        }
        .product-total-price {
          font-family: @font-family-queulat-bold;
          font-size: @font-size-h3;
        }
        .product-quantity {
          color: @text-color;
          font-size: @font-size-small;
        }
      }
    }
  }
}
