#copper-crane {
  .vx-order-history {
    .order-history-heading {
      margin-top: 36px;
      h1 {
        font-family: @font-family-queulat-regular;
      }
    }
    .sub-heading.word-wrap-all {
      font-size: @font-size-small;
    }
    .no-of-orders {
      span {
        font-family: @font-family-queulat-bold;
      }
    }
    .empty-table {
      p {
        font-size: @font-size-small;
      }
    }
    table {
      tbody {
        tr {
          td {
            a {
              font-size: @font-size-medium;
              text-decoration: underline;
              font-family: @font-family-queulat-bold;
            }
            p {
              font-size: @font-size-small;
            }
          }
        }
      }
    }
    .paginate_button {
      font-family: @font-family-queulat-regular;
      color: @font-color-label-text;
      &.current {
        color: @text-color;
      }
    }
  }
}
