#sparkle {
  .create-account {
    .register-heading {
      font-family: @font-family-base;
      font-size: @font-size-xs-h1;
    }

    .icon-eye {
      color: @font-icon-color-2;
    }

    p {
      font-size: @font-size-small;
      color: @text-color-secondary-4;
    }
  }

  .dropdown-primary {
    .dropdown button {
      color: @font-icon-color-2;
    }
  }

  .social-login {
    .social-heading {
      font-family: @font-family-base;
    }
  }
}
