#sparkle {
  .vx-minimized-header {
    display: none;
  }

  .registration-and-login-sign-in {
    a {
      color: @brand-primary;
    }

    .b2c-heading {
      font-family: @font-family-base;
    }

    .icon-eye {
      color: @font-icon-color-2;
    }
  }
}
