
.vx-single-shipping-method {
  .delivery-instruction {
    color: @brand-secondary-5;
    font-size: @font-size-medium;
    font-weight: @font-weight-light;
  }
  .shift-right {
    float: right;
  }
  .section-sub-heading {
    font-size: @font-size-h5;
    font-weight: @font-weight-medium;
  }
  .section-text {
    font-size: @font-size-medium;
    font-weight: @font-weight-light;
  }
  .section-info-text {
    color: @brand-secondary-5;
    font-size: @font-size-small;
    font-weight: @font-weight-light;
  }
  textarea {
    resize: none;
    border: 1px solid @border-color;
    height: 78px;
  }
  .radio-button-group {
    .form-check .form-group .form-check-label {
      font-size: @font-size-small;
      font-weight: @font-weight-light;
    }
  }
  .delivery-message {
    word-wrap: break-word;
  }
  @media only screen and (max-width: @screen-xs-max) {
  }
}
