
.vx-schedule-installation {
  .section-header {
    color: @text-color;
  }
  .heading {
    font-weight: @font-weight-medium;
  }
  .sub-heading {
    font-weight: @font-weight-light;
  }
  .lease-change {
    cursor: pointer;
    font-weight: @font-weight-medium;
    color: @text-color-secondary-3;
  }
  .section-address,
  .section-installation {
    p,
    label {
      color: @text-color;
      font-weight: @font-weight-light;
      font-size: @font-size-h5;
      word-wrap: break-word;
    }
    .title {
      font-weight: @font-weight-medium;
    }
    .pallet-text {
      color: @help-text-color;
      font-size: @font-size-base;
      font-weight: @font-weight-light;
    }
    .preferred-time {
      text-transform: capitalize;
    }
  }
  .icon-calendar {
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 40px;
    right: 10px;
    font-size: 24px;
  }
  .input-calendar {
    width: 100%;
    .mx-input {
      height: 48px;
      font-weight: @font-weight-light;
      letter-spacing: 0.15px;
      line-height: 16px;
    }
  }
  .input-instructions {
    padding: 5px;
    width: 100%;
    resize: none;
    border: 1px solid @border-color;
  }
  .form-group input[type='tel'] {
    height: 48px;
  }
}
