
.ot-rest-url {
  padding-top: 30px;
  width: 100%;
}

.ot-rest-response {
  padding-top: 30px;

  > textarea {
    width: 100%;
    height: 400px;
  }
}

//.ot-damlink-asset-assignment-modal-dialog > div.modal-dialog> div.modal-content > div.modal-body> div

.ot-replace-all {
  text-align: center;
  max-width: 798px;
  padding-right: 15px;
  border: 1px solid #d5d8dc;
  border-top: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.se-media-container-field.ot-media-container-field {
  padding-bottom: 0;
}

div.ot-se-file-selector {
  padding-right: 17px;

  p.label {
    padding: 0;
  }

  img {
    padding-bottom: 0;
  }
}

.ot-media-selector--preview--icon {
  padding-left: 10px;
}

.ot-media-selector {
  border: 1px solid #d4d7dc;

  > .media-present {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.ot-damlink-asset-assignment-modal-dialog {

  z-index: 1069;

  .modal-body {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

    > div {
      height: 750px;
    }
  }
}

iframe {
  border: none;
}

@media (min-width: 1092px) {
  .ot-damlink-asset-assignment-modal-dialog .modal-lg {
    width: 1000px;
  }
}

@media (min-width: 1292px) {
  .ot-damlink-asset-assignment-modal-dialog .modal-lg {
    width: 1200px;
  }
}

@media (min-width: 1492px) {
  .ot-damlink-asset-assignment-modal-dialog .modal-lg {
    width: 1440px;
  }
}
