## messageSource=classpath:/gpcommerceinitialdata/import/coredata/contentCatalogs/mardigrasContentCatalog/messages/email-forgottenPassword_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
	<head>
	</head>
	<body bgcolor="#ffffff"
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">&nbsp;</td>
								</tr>
								<tr>
									<td valign="middle">
										<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.SiteLogo}</a>
									</td>
								</tr>
								<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td align="center" valign="top">
										#set ($pswdRequestUrl = "${ctx.secureRequestResetPasswordUrl}")
										#set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
										#if(${ctx.baseSite.Uid} == "electronics")
										#set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs_electronics', "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
										#else
										#set ($faqPage = "${ctx.baseUrl}/faq")
										#set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag($faqPage)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
										#end
										<tr>
											<td style="font-size: 18px; color: #222222; font-weight: 500; padding-top:30px; padding-bottom:15px; line-height: 1.428571429; font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.resetPassword}</td>
											</tr>
											#if($ctx.displayName.lastIndexOf(" ")>0)
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300; padding-bottom:10px; line-height: 1.428571429; font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.getMessage('salutation', ${ctx.title},$ctx.displayName.substring(0,$ctx.displayName.lastIndexOf(" ")).trim())},</td></tr>
											#else 
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300;padding-bottom:10px; line-height: 1.428571429; font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.getMessage('salutation', ${ctx.title},$ctx.displayName)},</td></tr>
											#end
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300;padding-bottom:10px; line-height: 1.428571429; font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.getMessage('requestReset', ${ctx.baseSite.Uid})}</td></tr>
											
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300;padding-bottom:10px;line-height: 1.428571429;  font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.toResetPassword}<a style="color: #222222;" href="${ctx.secureResetPasswordUrl}"></br>${ctx.displaySecureResetPasswordUrl}</a></td></tr>
											
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300;padding-bottom:10px;line-height: 1.428571429;  font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.ifNotRequested}</td></tr>
											
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300;padding-bottom:10px;line-height: 1.428571429;  font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif;">${ctx.messages.anyConcerns}</td></tr>
											
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300; line-height: 1.428571429; font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif; padding-top:24px; padding-bottom:10px;">${ctx.messages.complimentaryClosing}</td></tr>
											<tr><td style="color: #222222; font-size: 14px; font-weight: 300; line-height: 1.428571429; font-family: 'Gotham A', 'Gotham B', Lato, Helvetica, Roboto, Arial, sans-serif; padding-bottom:10px;">${ctx.messages.getMessage('signature', ${ctx.baseSite.Name})}</td> 
										</tr>
									</td>
								</tr>
								</table>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="center" valign="middle">
										<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
									</td>
								</tr>
								
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>
