#gp-xpress {
  .vx-list-details {
    .vx-product-tile {
      .product-tile {
        a {
          color: @font-icon-color-1;
        }
      }
    }
    .list-items-container{
      margin-bottom: 72px;
    }

    .list-subtotal-container {
      >div:first-child {
        >span {
          color: @font-icon-color-1;
        }

        >span[disabled] {
          color: @font-icon-color-disabled-1;
        }
      }
    }
  }
}
