#gp-xpress{
    .vx-shopping-lists{
       .button-container{
           .is-enabled{
               color: @btn-primary-bg;
           }
           .is-disabled{
            color: @brand-secondary-10;
        }
       }
       .table{
        tbody{
            tr{
                td{
                    a{
                        color: @btn-primary-bg;
                    }
                }
            }
        }
       } 
       .h3{
           color: @text-color;
       }
       h5{
           color: @text-color;
       }
    }
}