#sparkle {
  .image-title {
    .header {
      letter-spacing: 0.3px;
      font-family: @font-family-TradeGothicLT-Bold;
    }

    &.no-description {
      .tile {
        padding-bottom: 40px;
      }
    }
  }
}