#sparkle {
  h3 {
    font-family: @font-family-TradeGothicLT;
    line-height: 25px;
  }
  .input-group {
    .form-control {
      border-radius: 0;
      border-color: @brand-secondary-5;
    }
  }
  .location-text {
    letter-spacing: @letter-spacing-slashed;
    line-height: 15px;
  }
  .narrow-search {
    color: @text-color;
    line-height: 16px;
    font-family: @font-family-TradeGothicLT-Bold;
  }
  .dropdown-label {
    letter-spacing: @letter-spacing-default;
    line-height: 17px;
  }
  .no-stores {
    letter-spacing: @letter-spacing-default;
  }
}