
.vx-guest-checkout {
  .guest-heading {
    font-size: @font-size-xs-h1;
    font-weight: @font-weight-light;
  }
  .description {
    font-size: @font-size-small;
    font-weight: @font-weight-light;
  }
  a {
    color: @text-color-secondary-3;
    font-size: @font-size-small;
    font-weight: @font-weight-medium;
  }
  @media only screen and (max-width: @screen-xs-max) {
    .guest-heading {
      font-size: @font-size-large;
    }
  }
}
