#brawny {
  .vx-image-text {
    .view-site-content-vx-text-tile {
      h3 {
        font-size: @font-size-h2;
        font-weight: @font-weight-bold;
      }
      p {
        font-size: @font-size-large;
        letter-spacing: 0.4px;
        line-height: 24px;
      }
      .cta-text {
        font-size: 14px;
        font-weight: @font-weight-bold;
      }
    }
  }
}
