#brawny {
  .c-sbs {
    h3 {
      font-size: @font-size-h4;
      font-weight: @font-weight-bold;
    }
    &____text-wrapper {
      font-size: @font-size-base;
      letter-spacing: 0.15px;
    }
    &____learnMore {
      font-size: @font-size-base;
      letter-spacing: 0.15px;
      font-weight: @font-weight-bold;
    }
  }
}
