#copper-crane {
  .vx-mini-cart {
    border: none;
    box-shadow: 0 1px 4px 0 @border-color;
    .vx-empty-cart {
      .empty-mini-cart-msg {
        color: @text-color;
        font-size: @font-size-medium;
      }
    }
    .mini-cart-container {
      .total-items {
        font-family: @font-family-queulat-regular;
        .total-items-count {
          // font-family: @font-family-cocogoose-ulight;
          font-size: @font-size-medium;
        }
      }
      .vx-cart-product-tile {
        .mini-cart-product-tile {
          .product-img {
            padding: 0!important;
          }
          .product-title a,
          .product-total-price {
            font-family: @font-family-queulat-bold;
          }
        }
      }
    }
    .sub-total-container {
      .sub-total-text .heading {
        font-family: @font-family-queulat-regular;
      }
      .sub-total-price .total-price {
        font-family: @font-family-queulat-bold;
      }
    }
  }
}
