#copper-crane {
  .vx-shopping-cart {
    .cart-heading-container {
      .no-of-cart-items {
        font-size: @font-size-small;
      }
    }
    .cart-id-container {
      .cart-id {
        font-size: @font-size-small;
      }
    }
    .product-tile {
      .vx-cart-product-tile {
        .shopping-cart-product-tile {
          .product-img {
            padding: 0!important;
          }
          .product-title a,
          .product-price,
          .product-total-price {
            font-family: @font-family-queulat-bold;
          }
          .product-quantity {
            font-size: @font-size-small;
          }
        }
      }
    }
    .icon-trash,
    .icon-add-to-list,
    .icon-share {
      color: @font-icon-color-3;
    }
  }
}
