
.vx-review-lease-agreement {
  .lease-language {
    height: 32px;
    width: 64px;
    cursor: pointer;
  }
  .terms-language {
    float: right;
  }
  .active-class {
    background: @btn-primary-bg;
  }

  .disabled-class {
    background: @btn-disabled-bg;
  }
  .accepted-btn {
    background-color: @btn-primary-bg;
  }
  div:empty {
    display: none;
  }
}
