#sparkle {
  .vx-cart-product-tile {
    .mini-cart-product-tile {
      .product-title {
        a {
          font-size: @font-size-medium;
          letter-spacing: @letter-spacing-default;
          line-height: 20px;
        }
      }

      .product-total-price {
        font-family: @font-family-TradeGothicLT-Bold;
      }
    }

    .shopping-cart-product-tile {
      .product-tile {
        a {
          letter-spacing: @letter-spacing-default;
        }
      }
      .product-current-price {
        font-family: @font-family-TradeGothicLT-Bold;
      }
      .product-total-price {
        font-family: @font-family-TradeGothicLT-Bold;;
      }
      .product-quantity {
        letter-spacing: @letter-spacing-default;
      }
    }
  }
}
