#sparkle {
  .vx-mini-cart {
    .total-items {
      font-family: @font-family-TradeGothicLT-Bold;
      line-height: 19px;
      letter-spacing: normal;

      .total-items-count {
        font-family: @font-family-TradeGothicLT;
        letter-spacing: @letter-spacing-slashed;
        line-height: 24px;
      }
    }

    .sub-total-container {
      .sub-total-text {
        .heading {
          letter-spacing: normal;
          font-family: @font-family-TradeGothicLT-Bold;
          line-height: 19px;
        }
      }
      .sub-total-price {
        .total-price {
          font-family: @font-family-TradeGothicLT-Bold;
          letter-spacing: normal;
          line-height: 28px;
        }
      }
    }
  }
}
