
.vx-404-page {
  .error-container {
    background-color: @brand-secondary-8;
    padding: 24px;
  }
  .error-heading {
    margin-bottom: 40px;
    color: @error-page-font-color;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
  }
  .error-msg-container {
    margin-bottom: 20px;
    color: @error-page-font-color;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  .immediate-assitance {
    color: @error-page-font-color;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    margin-bottom: 24px;
    .white-space-pre{
      white-space: pre;
    }
  }
}
