

@import '../../../styles/common/mixins.less';

.mg-footer-section {
    background: url('/static/assets/images/mardi-gras/footer-bg.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (min-width: @screen-sm-min){
        height: 250px;
    }
    position: relative;
    &.faq-footer-bg{
      background-color: @brand-secondary;
      background-image: url(/static/assets/images/mardi-gras/faq-footer-bg.png);
      margin-top: -1px;
    }
    .container-fluid{
        @media only screen and (min-width: @screen-sm-min){
            background-color: @brand-primary;
        }
        position: absolute;
        width: 100%;
        top: 60%;
        transform: translateY(-60%);
        @media only screen and (max-width: @screen-sm-max){
            .container{
                width: 100%;
            }
        }
        .parent-brand{
            @media only screen and (min-width: @screen-md-min){
                margin-left: 30px;
            }
            @media(max-width: @screen-xs-max){
                margin-bottom: 40px;
            }
            @media only screen and (max-width: @screen-sm-max){
                width: 200px;
                a{
                    width: 100%;
                    height: auto;
                    display: block;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        ul{
            background-color: @brand-primary;
            padding: 0;
            @media(max-width:@screen-xs-max){
                width: 100%;
            }
            li{
                list-style: none;
                a{
                    .font(25px,
                        @font-weight-regular,
                        @font-family-base,
                        @text-color-9,
                        @line-height-base);
                        @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
                            font-size: 15px;
                        }
                        display: inline-block;
                        @media only screen and (min-width: @screen-sm-min){
                            border-right: 2px solid @border-1;
                            padding: 0 16px !important;
                        }
                        &:hover, &:focus, &:visited{
                            text-decoration: none;
                        }

                }
                &:last-child{
                    a{
                        border-right:0;
                    }
                }
            }
        }
    }
    &.faq-footer-bg{
      .container-fluid {
        .parent-brand{
          @media(max-width: @screen-xs-max){
            margin-bottom: 30px;
          }
        }
      }
    }
}

#mardi-gras {
  .mg-footer-section {
    .container-fluid {
      min-height: 0px;
    }
  }
}
