

.vx-order-history-filter {
  .filterHeading {
    font-weight: @font-weight-medium;
    font-size: @font-size-medium;
  }
  .filter-sort-buttons {
    bottom: 0px;
    left: 0px;
    position: fixed;
  }
}
