.vx-build-bundle {
  .root-bundle {
    &__name {
      font-size: @font-size-h3;
    }
    &__details {
      .root-bundle__image {
        height: 150px;
        width: 150px;
        border: 1px solid @border-color;
        flex-shrink: 0;
        img {
          width: auto;
          height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .leaf-bundle {
    border-top: 1px solid @border-color;
    &:nth-last-child(2) {
      border-bottom: 1px solid @border-color;
    }
  }

  .vx-accordion {
    .slot-based {
      .accordion-header {
        padding: 16px 0;
        .heading-container {
          font-weight: @font-weight-medium;
        }
      }
      .accordion-body {
        overflow: visible;
      }
    }
  }

  .vx-slider {
    .search-browse-product-tile {
      width: 100%;
      padding-bottom: 0;
      .tile-image {
        height: 218px;
      }
    }
  }


  .add-to-cart-container,
  .update-bundle-container {
    position: fixed;
    bottom: 0;
    left: 0%;
    background-color: @brand-secondary-4;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    border-top: 1px solid @border-color;

    button {
      width: 271px;
      letter-spacing: @letter-spacing-default;
    }
  }
  @media screen and (max-width: @screen-sm-max) {
    .vx-slider {
      .search-browse-product-tile {
        .tile-image {
          height: 146px;
        }
      }
    }
  }
  @media screen and (max-width: @screen-xs-max) {
    .root-bundle {
      &__details {
        .root-bundle__image {
          height: 100px;
          width: 100px;
        }
      }
    }

    .vx-slider {
      width: 100%;
    }

    .add-to-cart-container,
    .update-bundle-container {
      button {
        width: 100%;
      }
    }
  }
}
