
.vx-guest-marketing-communications {
    border: 1px solid @border-color;
    .communication-heading {
        font-weight: @font-weight-medium;
        line-height: 19px;
    }
    .communication-message {
        font-weight: @font-weight-light;
        line-height: 20px;
        letter-spacing: 0.15;
    }
    .communication-email {
        label {
            font-size: @font-size-base;
            font-weight: @font-weight-light;
            letter-spacing: 0.15;
            color: @font-color-label-text;
            line-height: 16;
        }
        input {
            border: 1px solid @border-color-input;
        }
        button {
            font-size: @font-size-base;
            font-weight: @font-weight-medium;
            letter-spacing: 0.15;
            line-height: 16;
            color: @btn-tertiary-color;
            background-color: @btn-tertiary-bg;
        }
    }
}
