

.vx-product-category-solution {
  ul {
    &.nav {
      &-tabs {
        border-bottom: 1px solid @breadcrumb-seperator-color;

        li {
          a {
            border: 0;
            color: @btn-default-color;
            text-transform: capitalize;
            font-weight: 400;
            font-size: @font-size-large;
            border-bottom: 4px solid transparent;
            &:focus,
            &:hover,
            &:visited {
              border: 0;
              background-color: transparent;
            }
          }

          &.active {
            a {
              border-bottom: 4px solid @border-color-5;
              font-weight: 500;
              color: @text-color;
              font-size: @font-size-large;
            }
          }
        }
      }
    }
  }

  .title-underline {
    display: none;
    margin-left: 40px;

    @media(max-width: @screen-sm-max) {
      margin-left: 32px;
    }

    @media(max-width: @screen-xs-max) {
      margin-left: 16px;
    }
  }

  &.center-theme{
    .category-title {
      text-align: center;
    }
    .title-underline {
      margin-left: auto;
      margin-right: auto;
    }
    ul{
      display: flex;
      justify-content: center;
    }
  }

  .tab-pane {
    .panel {
      &:first-child {
        border-radius: 0;
      }
      border-left: 0;
      border-right: 0;

      &-heading {
        border: 0;
      }

      &-title {
        a {
          span {
            font-size: 16px;
            font-weight: 500;
            display: block;
            width: calc (100% - 30px);

            @media(max-width:@screen-xs-max) {
              font-size: @font-size-base;
            }
          }

          &:before {
            content: "\E91F";
            float: right !important;
            font-family: 'icomoon' !important;
            text-align: right;
            font-size: 24px;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            width: 30px;
          }

          &.collapsed {
            &:before {
              content: "\E923";
            }
          }
        }
      }
    }
  }

  .panel-default {
    .panel-heading {
      background-color: transparent;
    }
  }
  @media(min-width:@screen-sm-min) {
    .panel-heading {
      display: none;
    }

    .panel {
      border: none;
      box-shadow: none;
    }

    .panel-collapse {
      height: auto;

      &.collapse {
        display: block;
      }
    }
  }
  @media(max-width:@screen-xs-max) {
    .tab-content {
      .tab-pane {
        display: block;
      }
    }

    .nav-tabs {
      display: none;
    }

    .panel-title a {
      display: block;
    }

    .panel {
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      margin-top: -2px;
    }

    /* .tab-pane {
      &:first-child {
        .panel {
          border-radius: 5px 5px 0 0;
        }
      }

      &:last-child {
        .panel {
          border-radius: 0 0 5px 5px;
        }
      }
    } */
  }
  .justify-content-center{
    .category-title{
      text-align: center;

      @media(max-width:@screen-xs-max) {
        font-size: @font-size-large;
        letter-spacing: @letter-spacing-slashed;
      }
    }
    .nav-tabs{
      display: flex;
      justify-content: center;
    }
  }

  @media(min-width: @screen-md-min) {
    .category-title {
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
  }
}
