#sparkle {
  .vx-404-page {
    .error-container {
      padding: 32px;
    }
    .error-heading {
      margin-bottom: 32px;
      line-height: 29px;
    }
    .error-msg-container {
      margin-bottom: 16px;
      letter-spacing: normal;
      font-family: @font-family-TradeGothicLT-Bold;
    }
    .immediate-assitance {
      font-size: @font-size-large;
      line-height: 28px;
    }
  }
}
