<!-- Update password component functionaity is
1. When user clicks on forgot password and enters his email address he gets email with reset link.
2. After clicking on the reset link he will be redirected to updatePassword page.
3. Update password page contains a password input and a reset button .
4. User neeeds to enter password which should meet minimum requirements of password eligility.
5. On click of reset button we need to pass password in ajax request
6. After successful response we need to display success message. -->

<section class="update-password">
  <vx-spinner ref="spinner" :image="globals.assetsPath+'images/spinner.gif'" full-screen>
  </vx-spinner>
  <h3 class="mb-xs-4 mt-xs-0 update-password-title" v-if="headingData">{{headingData}}</h3>
  <form @submit.prevent="newPassword" class='update-password-form'>
    <!-- Heading data is a configarable property which can be passed as props from parent component -->

    <div class="mb-md-5 mb-sm-5 mb-xs-4 form-group has-feedback">
      <label for="password" :aria-hidden="isDeviceAndroid()">{{i18n.newPasswordLabel}}</label>
      <input class="mb-xs-2 form-control password" ref="password" type="password" v-validate="{ required: true,
                regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@,%$*!])[A-Za-z\d@,%$*!]{8,255}$/ }"
        name="Password" v-bind:class="{'input-error': errors.has('password')}" :aria-label="i18n.newPasswordLabel"
        v-model="passwordUpdateText" @focus="updatePasswordServerError = ''">
      <span class="icon-eye toggle-password" tabindex="0" role="button" :aria-label="showPassword? i18n.iconEyeHideTitle : i18n.iconEyeShowTitle"
        v-on:click="togglePassword" @keyup.enter-space="togglePassword" :title="showPassword? i18n.iconEyeHideTitle :
i18n.iconEyeShowTitle"></span>
      <div class="mt-xs-2" v-if="errors.has('Password') || isNewPassword">
        <span class="error-msg">{{errors.first('Password')}}</span>
        <span class="error-msg" v-if="isNewPassword">{{i18n.newPasswordResetError}}</span>
      </div>
      <p class="mb-md-5 mb-sm-5 mb-xs-4 passwordHelp">{{i18n.passwordInstruction}}</p>
    </div>
    <div class="mt-xs-2" v-if="updatePasswordServerError">
      <span class="error-msg">{{updatePasswordServerError}}</span>
    </div>
    <button type="button" :disabled="errors.any()" @click="newPassword" class="center-block btn btn-primary modal-btn-primary-medium">{{i18n.resetPasswordButton}}</button>
  </form>

  <!-- This part should be moved to a component or should be used like a shared code -->
  <form ref="loginForm" :action="actionUrl" method="post" hidden>
    <!--    <input type="hidden" name="token" :value="globals.siteId" v-if=> -->
    <input type="hidden" name="token" value="token" v-if='globals.isEmployeeStore()'>
    <input type="hidden" name="loginType" value="gpemployee" v-if='globals.isEmployeeStore()'>

    <input type="hidden" name="j_username" :value="userEmailId">
    <input type="hidden" name="j_password" :value="passwordUpdateText">
    <input type="hidden" name="baseSiteId" :value="globals.siteId">
    <input type="hidden" name="CSRFToken" :value="globals.csrfToken">
  </form>
</section>
